tr, td{
    padding: 0.2rem 0.4rem;
   
}

thead th{
    padding: 0.4rem !important;
}

.table tr.active td {
    /* background-color:#252a98 !important; */
    background-color:#0062cc !important;
    color: white;
  }
