<div class="container">
    <div class="row p-4">
        <div class="col-md-12">
            <h1>Outward Bank Payment</h1>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-12">
            <div class="card" style="border : 0; min-height: 500px; width:100%">
                <div class="card-body form-card">
                    <form>
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingBasic">
                                    <h4 class="panel-title">Basic Information</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Code&nbsp;</label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="payernastroAccountNumber" type="text"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Description&nbsp;
                                                                        <span class="fa fa-search"></span>
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="description" type="text" class="form-control"
                                                                            placeholder="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-row">
                                                                <label for="code" class="control-label col-md-4">Product Category
                                                                    &nbsp;</label>
            
                                                                <div class="col-md-8">
                                                                    <input name="productSubCat" type="text" class="form-control"
                                                                        placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-row">
                                                                <label for="code" class="control-label col-md-4">Product Sub
                                                                    Category &nbsp;
                                                                </label>
            
                                                                <div class="col-md-8">
                                                                    <input name="warrantRef" type="text" class="form-control"
                                                                        placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                            <div class="form-group form-row">
                                                                <label for="code" class="control-label col-md-4">Product Ref Scheme
                                                                    &nbsp;
                                                                </label>
            
                                                                <div class="col-md-8">
                                                                    <input name="productRefScheme" type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-row">
                                                                <label for="code" class="control-label col-md-4">Temporary Ref
                                                                    Scheme&nbsp;
                                                                </label>
                                                                <div class="col-md-8">
                                                                    <input name="productRefScheme" type="text" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">

                                                        <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Temporary Ref
                                                                        Scheme
                                                                        &nbsp;
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="productRefScheme" type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Message
                                                                        Channel&nbsp;
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        <input type="text" name="cashLetterAmount" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div class="panel panel-default" id="goodsInfo">
                                <div class="panel-heading" role="tab" id="headingRemittanceDet">
                                    <h4 class="panel-title">Transaction Information</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-body">

                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">

                                                        <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Warrant
                                                                        Required&nbsp;
                                                                        <span class="fa fa-search"></span>
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="nastroAccountNumber" type="text"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Warrant Type&nbsp;
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input name="bankName" type="text" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Foreign curr
                                                                        tracking&nbsp;
                                                                        <span class="fa fa-search"></span>
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="nastroAccountNumber" type="text"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Local curr
                                                                        tracking&nbsp;
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input name="bankName" type="text" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-10 offset-md-1">
                                                <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Effective
                                                                        Date&nbsp;
                                                                        <span class="fa fa-search"></span>
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="nastroAccountNumber" type="text"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-row">
                                                                    <label for="code" class="control-label col-md-4">Status&nbsp;
                                                                    </label>
                
                                                                    <div class="col-md-8">
                                                                        <input name="bankName" type="text" class="form-control">
                
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingBasic">
                                </div>
                                <div class="panel-body">
                                    <div class="row px-4">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-2 text-right"><button
                                                class="btn btn-outline-primary btn-block" type="submit">Cancel</button>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button class="btn btn-primary btn-block" type="submit" (click)="storeRecord()" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
</div>