  <div id="sidebar" class="position-fixed">
    <div class="row">
      <img src="/assets/images/white.png" alt="usl LOGO">
    </div>
    <div class="container bg-tdx-primary">
      <ul>
        <li class="transform">
          <a href="#"><i class='flaticon-home pr-3'></i>Dashboard <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i>Static Reference <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i>Instruments <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
            <a href="#"><i class='flaticon-wrong pr-3'></i> Services <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a 
          routerLink="/product"
          routerLinkActive="active"
          ><i class='flaticon-wrong pr-3'></i> Configure Product <i class="float-right flaticon-arrow mr-3"></i></a>
          <ul class="sub-class">
            <div class="row" style="margin-bottom:50px;"></div>
            <li class="first-sub"> <a data-toggle="collapse" href="#collapse1">Payment<i class="float-right flaticon-down-arrow"></i></a>
              <ul id="collapse1" class="panel-collapse collapse">
                <li><a routerLink="/product/outward-bank-payment">Outward Bank</a></li>
                <li class=""><a href="#">Inward Customer</a></li>
                <li class=""><a href="#">Outward Customer</a></li>
                <li class=""><a href="#">Inward Bank</a></li>
              </ul>
            </li>
            <li class="first-sub"> <a data-toggle="collapse" href="#collapse2">Letter of Credit<i class="float-right flaticon-down-arrow"></i></a>
              <ul id="collapse2" class="panel-collapse collapse">
                <li><a href="#">sub product 1</a></li>
                <li class=""><a href="#">sub product 2</a>
                </li>
              </ul>
            </li>
            <li class="second-sub"><a href="#">collections</a></li>
            <li class="second-sub"><a href="#">Cash Letter</a></li>
            <li class="second-sub"><a href="#">Guarantee</a></li>
            <li class="second-sub"><a href="#">Others</a></li>
          </ul>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i> Workflow  <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i> Charge  <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i> Custom Duty  <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
        <li class="transform">
          <a href="#"><i class='flaticon-wrong pr-3'></i> Rules <i class="float-right flaticon-arrow mr-3"></i></a>
        </li>
      </ul>
    </div>
  </div>
