<div class="container-fluid mt-1" *ngIf="view === 0">

  <div class="row py-3 px-4">

      <div class="col-md-12">
              <h1 class="text-bold">Query Builder <span *ngIf="errorExists"style="cursor : pointer" class="flaticon-info text-danger ml-3" (click)="loadErrors()"></span></h1>
            </div>
      <div class="col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><a (click)="nextPage()">Query Builder table</a></li>
              <li class="breadcrumb-item "  (click)="prevPage()">Query Builder Form</li>
          </ol>
      </nav>
      </div>
  </div>
  <div class="row py-2 px-4">
      <div class="col-md-12">
          <div class="card panel mb-5">
              <div class="card-body p-4">
                          <div class="row p-4">
                                  <div class="col-md-12">
                                          <h6 class="panel-title  font-weight-bold mb-1">
                                            Query Builder Table
                                              </h6>
                                              <!-- <p class="subtitle mb-0  ">Set the appropriate information</p> -->
                                  </div>

                          </div>
                          <div class="row px-4  mb-0">
                                  <div class="col-3">
                                    <input type="text" [tableSearch]="tableList" class="form-control search" placeholder="filter">
                                  </div>
                                  <div class="col-md-7"></div>
                                  <div class="col">
                                    <button class="btn btn-block btn-primary " (click)="configure()"><i class="flaticon-add mr-2"></i>Configure</button>
                                  </div>

                          </div>
                          <div class="row p-4">
                              <div class="col-md-12">
                                  <table id="myTable" class="table alt-table table-borderless">
                                      <thead>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Content</th>
                                        <th>Actions</th>
                                        <th></th>
                                      </thead>
                                      <tbody #tableList >
                                        <tr *ngFor="let item of queries">
                                          <td>{{item.title}}</td>
                                          <td>{{item.description | stringLength:15}}</td>
                                          <td>{{item.content | stringLength:15}}</td>
                                          <td><a (click)="updateQuery(item.id)"> <span><i class="flaticon-pencil"></i></span></a></td>
                                          <td><a class=" btn-remove" (click)="Delete(item.id)"></a></td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>

              </div>
          </div>


      </div>

  </div>
</div>
<!-- view for form new -->

<div class="container-fluid mt-1" *ngIf="view === 1">
  <div class="row p-3 pl-4">
    <div class="col-md-12">
      <h1 class="text-bold">Query Builder Form</h1>
    </div>
  </div>

  <div class="col-md">
    <div class="card panel">
      <div class="card-body form-card">
        <!-- <form> -->
        <div class="panel-group" role="tablist" aria-multiselectable="true">
          <div class="panel-default">
            <div class="panel-heading" role="tab" id="headingBasic">
              <div class="float-left form-icon text-center mr-3">
                <span class="flaticon-paper  primary-color"></span>
              </div>
              <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                Query Builder Details
              </h4>
              <p class="subtitle mb-0  ">Please fill in the appropriate data </p>
            </div>
            <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
              <div class="panel-body">
                <div class="col-sm-12 col-md-10 offset-md-1">
                  <div class="form-body">

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group row mr-2">
                          <label for="Connections">Connections</label>
                           <select  id="connections" [(ngModel)]="que.connectionId" class="form-control search" (change)="getTables($event.target.value)">
                                    <option value="">&lt;-------&gt;</option>
                                    <option *ngFor="let v of connections" [value]="v.id">{{v.title}}</option>
                                </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group row ml-2">
                          <label for="title"> Title</label>
                          <input type="text" name="title" class="form-control" [(ngModel)]="que.title" class="search">
                        </div>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-md-8">
                        <div class="form-group row">
                          <label for="title"> Description</label>
                          <textarea name="description" id="" class="form-control search" [(ngModel)]="que.description"></textarea>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        Query
                      </div>
                      <div class="col-md-2">
                        <input type="radio" class="radio" id="manually" name="drone" [checked]="isManual"
                          (click)="setradio('manually')">
                        <label class="labelradio ml-2" for="manually">Manually</label>
                      </div>
                      <div class="col-md-2">
                        <input type="radio" class="radio" id="builder" name="drone" [checked]="!isManual"
                          (click)="setradio('builder')">
                        <label class="labelradio ml-2" for="builder">Use Builder</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- USING MANUAL -->
            <div class="form-body" *ngIf="isManual">
              <textarea class="m-0 p-2 largetext col-md-12" rows="12" id="content" name="content" [(ngModel)]="que.content"></textarea>
            </div>


            <!-- USING BUILDER -->
            <div class="panel-body build col-sm-12 col-md-10 offset-md-1" *ngIf="!isManual">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="font-weight-bold">
                    Builder
                  </h6>
                </div>
              </div>


              <!-- NAV TABS -->
              <div class="row mt-4">
                <div class="col-md-12">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-home" aria-selected="true" (click) = "table()">Table</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-column" role="tab" aria-controls="nav-profile" aria-selected="false" (click) = "column()">Column</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-filter" role="tab" aria-controls="nav-profile" aria-selected="false" (click) = "filter()">Filter</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-group-by" role="tab" aria-controls="nav-profile" aria-selected="false" (click) = "groupBy()">Group By</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-order-by" role="tab" aria-controls="nav-profile" aria-selected="false"  (click) = "orderBy()">Order By</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-limit" role="tab" aria-controls="nav-profile" aria-selected="false"  (click) = "limit()">Limit</a>
                    </div>
                  </nav>
                  <!-- NAV ENDS -->

                  <!-- TABLE TAB BEGINS-->
                  <div class="tab-content mt-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-table" role="tabpanel"
                      aria-labelledby="nav-home-tab">

                      <div class="row">
                        <div class="col-md-3">
                          <label for="table-1">Table <sup>*</sup></label>
                          <select id="table-1" class="form-control search" [disabled] = "tableNotEmpty">
                             <option value="">&lt;-------&gt;</option>
                             <option *ngFor="let t of tableContainer" [value]="t">{{toTopicCase(t)}}</option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <label for="table-1-alias">Alias(optional)</label>
                          <input type="text" class="form-control search" id="table-1-alias"  [disabled] = "tableNotEmpty">
                        </div>

                        <div class="col-md-2 mt-auto">
                          <button id="add-table" class="btn btn-success btn-block" *ngIf="oracleQueryBuilder.getUserData('tables').length == 0" (click)= "addTable()">Save table</button>
                          <button id="join-table" class="btn btn-primary btn-block" *ngIf="oracleQueryBuilder.getUserData('tables').length > 0" (click)= "showExtraFields()">Join table</button>
                        </div>

                      </div>
                      <div class="panel-body" *ngIf="showFields === 1">
                        <div class="row">
                          <div class="col-md-12">
                            <h6 class="font-weight-bold">
                              Addtional Table
                            </h6>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="join">Join Column (optional)</label>
                              </div>
                              <div class="col-md-8">
                                <select id="join" class="form-control search" [(ngModel)]="join">
                                  <option value="">&lt;-------&gt;</option>
                                  <option *ngFor="let v of _columns[rightTable]" [value]="v">{{ toTopicCase(v)}}</option>
                                </select>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="joinType">Types of Join</label>
                              </div>
                              <div class="col-md-8">
                                <select id="joinType" class="form-control search" [(ngModel)]="joinType">
                                  <option value="">&lt;-------&gt;</option>
                                  <option value="{{item.name}}" *ngFor="let item of joinsValues">{{item.name}}</option>
                                </select>
                              </div>

                            </div>
                          </div>



                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="Connections">Table 2</label>
                              </div>
                              <div class="col-md-8">
                                <select id="table-2" class="form-control search" (change)="getColumns($event.target.value)" [(ngModel)]="table2">
                                  <option value="">&lt;-------&gt;</option>
                                  <option *ngFor="let t of tableContainer" [value]="t">{{toTopicCase(t)}}</option>
                                </select>
                              </div>

                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="Connections">Alias(optional)</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" id="table-2-alias" class="form-control search" [(ngModel)]="table2alias">
                                <!-- <select id="alias" class="form-control search">
                                  <option value="">&lt;-------&gt;</option>
                                  <option>------------</option>
                                </select> -->
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="Connections">Foreign Key(Table 2)</label>
                              </div>
                              <div class="col-md-8">
                                <select id="foreignKey" class="form-control search" [(ngModel)]="foreignKey">
                                  <option value="">&lt;-------&gt;</option>
                                  <option *ngFor="let v of _columns[leftTable]" [value]="v">{{ toTopicCase(v)}}</option>
                                </select>
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <div class="col-md-4">
                                <label for="Connections">Join Condition</label>
                              </div>
                              <div class="col-md-8">
                                <select id="joinCondition" class="form-control search" [(ngModel)]="joinCondition">
                                  <option value="">&lt;-------&gt;</option>
                                  <option value="=">Equal</option>
                                  <option value=">">Greater Than</option>
                                  <option value=">=">Greater Or Equals To</option>
                                  <option value="<=">Less Or Equals To</option>
                                  <option value="<">Less Than</option>
                                  <option value="<>">Not Equal To</option>
                                </select>
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="row mt-2">
                          <div class="col-md-10"></div>
                          <div class="col-md-2 text-right">
                            <button class="btn btn-primary" (click)="addTable()">save table</button>
                          </div>
                        </div>

                      </div>

                    </div>
                    <!-- TABLE TAB ENDS -->

                    <!-- COLUMN TAB BEGINS -->
                    <div class="tab-pane fade" id="nav-column" role="tabpanel" aria-labelledby="nav-profile-tab">

                      <div class="row pt-3">
                        <div class="col-md-5">

                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Column<sup>*</sup></label>
                            </div>
                            <div class="col-md-8">
                              <select id="columns" class="form-control search" [(ngModel)]="columnSelect">
                                <option value="">&lt;-------&gt;</option>
                                    <option value="*">All</option>
                                    <option *ngFor="let v of _getAllColumns()" [value]="v">{{ toTopicCase(v)}}</option>
                              </select>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-5">
                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Alias(Optional)</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" class="search" id="alias" [(ngModel)]="columnAlias">
                            </div>

                          </div>


                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Aggregate(Optional)</label>
                            </div>
                            <div class="col-md-8">
                              <select id="aggregate" class="form-control search" [(ngModel)]="columnAggregate">
                                <option value="">&lt;-------&gt;</option>
                                <option value="{{item.name}}" *ngFor="let item of aggregateValues">{{item.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right">
                          <button class="btn btn-primary btn-block" (click)="addColumn()">Save column</button>
                        </div>
                      </div>

                    </div>
                    <!-- COLUMN TAB ENDS -->


                    <!-- FILTER TAB BEGINS -->
                    <div class=" tab-pane fade" id="nav-filter" role="tabpanel" aria-labelledby="nav-profile-tab">

                      <div class="row pt-3">
                        <div class="col-md-5">

                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Column<sup>*</sup></label>
                            </div>
                            <div class="col-md-8">
                              <select id="filter-columns" class="form-control search" >
                                <option value="">&lt;-------&gt;</option>
                                <option *ngFor="let v of _getAllColumns()" [value]="v">{{ toTopicCase(v)}}</option>
                              </select>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-5">
                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Value</label>
                            </div>
                            <div class="col-md-8">
                              <input type="text" class="form-control search" id="values" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group row mr-2">
                            <div class="col-md-4">
                              <label for="Connections">Condition</label>
                            </div>
                            <div class="col-md-8">
                              <select id="conditions" class="form-control search" >
                                <option value="">&lt;-------&gt;</option>
                                <option value="Equal to">Equal</option>
                                <option value="Greater than">Greater Than</option>
                                <option value="Less than">Less than</option>
                                <option value="Greater than or equal">Greater than or equal</option>
                                <option value="Less than or equal">Less than or equal</option>
                                <option value="Contains">Contains</option>
                                <option value="Starts with">Starts with</option>
                                <option value="Not Equal to">Not Equal to</option>
                                <option value="Ends with">Ends with</option>
                                <option value="In">In</option>
                                <option value="Not in">Not In</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="form-group row mr-2">
                            <div class="col-md-3">
                              <input type="radio" class="radio" id="and" name="drone">
                              <label class="labelradio ml-2" for="manually" disbled>AND</label>
                            </div>
                            <div class="col-md-3">
                              <input type="radio" class="radio" id="or" name="drone">
                              <label class="labelradio ml-2" for="manually" disabled>OR</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right">
                          <button class="btn btn-primary btn-block" (click)="addFilter()">Save Filter</button>
                        </div>
                      </div>
                    </div>
                    <!-- FILTER TAB ENDS -->

                    <!-- GROUP BY TAB BEGINS -->
                    <div class=" tab-pane fade" id="nav-group-by" role="tabpanel" aria-labelledby="nav-profile-tab">

                      <div class="row pt-3">
                        <div class="col-md-8">
                          <div class="form-group row mr-2">
                            <label for="Connections">Group by</label>
                          <ngx-select-dropdown
                          [disabled] = "isDisable"
                          id="groups"
                          class="search"
                          [config]="config"
                          [options]="_getAllColumns()"
                          [(ngModel)]="groupby"
                          [multiple]="true" >
                        </ngx-select-dropdown>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right">
                          <button class="btn btn-primary btn-block" (click)="addGroup()">GROUP BY</button>
                        </div>
                      </div>
                      </div>
                      <!-- GROUP BY TAB ENDS -->

                       <!-- ORDER BY TAB  -->
                      <div class=" tab-pane fade" id="nav-order-by" role="tabpanel" aria-labelledby="nav-profile-tab">

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group row mr-2">
                                <label for="Connections">Order By<sup>*</sup></label>
                                <select id="order-columns" class="form-control search" [(ngModel)]="OrderColumn">
                                  <option value="">&lt;-------&gt;</option>
                                  <option value="*">All</option>
                                  <option *ngFor="let v of _getAllColumns()" [value]="v">{{ toTopicCase(v)}}</option>
                                </select>
                            </div>
                          </div>

                          <div class="col-md-2 m-auto">
                            <input type="radio" class="radio" id="ascending" name="query" value="ASC" [checked]="isChecked">
                            <label class="labelradio ml-2" for="and">Ascending</label>
                          </div>
                          <div class="col-md-2  m-auto">
                            <input type="radio" class="radio" id="descending" name="query" value="DSC" [checked]="isChecked">
                            <label class="labelradio ml-2" for="or">Descending</label>
                          </div>
                          <div class="col-md-2 m-auto">
                            <button id="button" class="btn btn-primary btn-block" (click)= "addOrder()">Order By</button>
                          </div>
                        </div>

                      </div>
                       <!-- ORDER BY TAB ENDS -->

                        <!-- LIMIT TAB  -->
                      <div class=" tab-pane fade" id="nav-limit" role="tabpanel" aria-labelledby="nav-profile-tab">


                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group row mr-2">
                                <label for="limit">Limit</label>
                                <input type="text" class="form-control search" id="limits" [disabled]="isLimit">
                            </div>
                          </div>

                          <div class="col-md-2 m-auto">
                            <button id="button" class="btn btn-primary btn-block" (click)= "addLimit()">Add Limit</button>
                          </div>

                        </div>
                      </div>
                       <!-- LIMIT TAB ENDS -->

                  </div>
                </div>
                <!-- NAV TAB ENDS -->
              </div>
              <!-- </form> -->
            </div>



            <!-- FORM FOR TABLE -->
            <div class="tab-content mt-4" id="nav-tabContent" *ngIf="!isManual">
              <div class="tab-pane fade show active" *ngIf="targets === 1">
                <div class="panel-body largetext">
                  <div class="row">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                      <table class="table alt-table table-borderless">
                        <thead>
                          <th>Table</th>
                          <th>Alias</th>
                          <th>Type of Join</th>
                          <th>Actions</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of oracleQueryBuilder.getUserData('tables')">
                            <td>{{item.name}}</td>
                            <td>{{item.alias}}</td>
                            <td>{{item.joinType}}</td>
                            <td><a class="btn btn-danger round-table-button" (click)= "removeTable(item.name)">-</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FORM FOR TABLE ENDS -->

              <!-- FORM FOR COLUMN -->
              <div class="tab-pane fade show active"  *ngIf="targets === 2">
                <div class="panel-body largetext">
                  <div class="row">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                      <table class="table alt-table table-borderless">
                        <thead>
                          <th>Column</th>
                          <th>Aggregate</th>
                          <th>Alias</th>
                          <th>Actions</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of userColumn">
                            <td>{{item.column}}</td>
                            <td>{{item.aggregate}}</td>
                            <td>{{item.alias}}</td>
                            <td><a class="btn btn-danger round-table-button" (click)="removeSelectColumn(item.column, item.aggregate)">-</a></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>

              <!-- FORM FOR COLUMN ENDS -->

              <!-- FORM FOR FILTER -->
              <div class="tab-pane fade show active"  *ngIf="targets === 3">
                <div class="panel-body largetext">
                  <div class="row">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                      <table class="table alt-table table-borderless">
                        <thead>
                          <th>Column</th>
                          <th>condition</th>
                          <th>value</th>
                          <th>Actions</th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of userFilter">
                            <td>{{item.column}}</td>
                            <td>{{item.op}}</td>
                            <td>{{item.value}}</td>
                            <td><a class="btn btn-danger round-table-button" (click)="removeFilter(item.column, item.op)">-</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FORM FOR FILTER ENDS -->


              <!-- FORM FOR ORDER-BY -->
              <div class="tab-pane fade show active"  *ngIf="targets === 5">
                <div class="panel-body largetext">
                  <div class="row">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                      <table class="table alt-table table-borderless">
                        <thead>
                          <th>Column</th>
                          <th>ORDER</th>
                          <th>Actions</th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of userOrder">
                            <td>{{item.column}}</td>
                            <td>{{item.dir}}</td>
                            <td><a class="btn btn-danger round-table-button" (click)="removeOrderColumn(item.column, item.dir)">-</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FORM FOR ORDER-BY ENDS -->


            </div>

             <!-- FORM FOR RAW SCRIPT  -->
             <div class="tab-pane fade show active">

              <div class="row pl-4">
                <div class="col-md-12 text-bold">
                  <code type="SQL" id="raw-script">RAW SCRIPT</code>
                </div>
              </div>

              <div class="panel-body largetext">
                <div class="row largetext">
                  <div class="col-sm-12 col-md-10 offset-md-1">
                      <div class="row pl-4 overflow-auto" style="max-width: 100%; max-height: 300px" id="preview-box">
                          &nbsp;
                      </div>
                  </div>
                </div>
              </div>


            </div>
             <!-- FORM FOR RAW SCRIPT  -->




            <!-- BUTTONS FOR THE WHOLE PAGE -->
            <div class="card-footer text-muted">
              <div class="row p-3">
                  <div class="col-md-2 text-left">
                      <button class="btn btn-success btn-block" type="submit" (click)="processForm()">Save</button>
                    </div>
                <div class="col-md-6"></div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-outline-primary btn-block" (click)="Cancel()" type="submit">Cancel</button>
                </div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-primary btn-block" (click)="preview()" type="submit">preview</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
