tr, td{
    padding: 0.2rem 0.4rem;
   
}

thead th{
    padding: 0.4rem !important;
    height: 0px !important;
}

td{
    cursor: pointer;
}
.table, tr, td,thead,tbody,th{
  background-color: transparent !important;
}

.row{
    padding: 5px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(33, 243, 79);
  }

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .labelradio {
    font: 1rem;
}

.radio {
    margin: .4rem;
}
.largetext{
  background-color: rgb(238, 238, 238);
}
.m{
  margin: auto 0!important;
}
input.search{
  border-color: #ced4da!important;
}
.build{
  border-top: 1px dashed #ccc
}
#nav-tab a{
  margin-right: 50px;
}


