	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/07/2019 09:00
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("../icons/Flaticon.eot");
      src: url("../icons/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../icons/Flaticon.woff2") format("woff2"),
           url("../icons/Flaticon.woff") format("woff"),
           url("../icons/Flaticon.ttf") format("truetype"),
           url("../icons/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-newspaper-folded:before { content: "\f100"; }
.flaticon-tax:before { content: "\f101"; }
.flaticon-tax-1:before { content: "\f102"; }
.flaticon-paper:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-folder:before { content: "\f105"; }
.flaticon-folder-1:before { content: "\f106"; }
.flaticon-money:before { content: "\f107"; }
.flaticon-tax-2:before { content: "\f108"; }
.flaticon-tax-3:before { content: "\f109"; }
.flaticon-arrow-right:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-notification-bell:before { content: "\f10c"; }
.flaticon-production:before { content: "\f10d"; }
.flaticon-product:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-agreement:before { content: "\f110"; }
.flaticon-law:before { content: "\f111"; }
.flaticon-suitcase:before { content: "\f112"; }
.flaticon-layers:before { content: "\f113"; }
.flaticon-info:before { content: "\f114"; }
.flaticon-left-arrow:before { content: "\f115"; }
.flaticon-add:before { content: "\f116"; }
.flaticon-menu-1:before { content: "\f117"; }
.flaticon-order:before { content: "\f118"; }
.flaticon-user:before { content: "\f119"; }
.flaticon-payment:before { content: "\f11a"; }
.flaticon-box:before { content: "\f11b"; }
.flaticon-package-cube-box-for-delivery:before { content: "\f11c"; }
.flaticon-info-1:before { content: "\f11d"; }
.flaticon-link:before { content: "\f11e"; }
.flaticon-down-arrow:before { content: "\f11f"; }
.flaticon-download-arrow:before { content: "\f120"; }
.flaticon-arrow-down:before { content: "\f121"; }
.flaticon-back:before { content: "\f122"; }
.flaticon-next:before { content: "\f123"; }
.flaticon-download:before { content: "\f124"; }
.flaticon-unlink:before { content: "\f125"; }
.flaticon-link-1:before { content: "\f126"; }
.flaticon-customer-support:before { content: "\f127"; }
.flaticon-workflow:before { content: "\f128"; }
.flaticon-workflow-1:before { content: "\f129"; }
.flaticon-security:before { content: "\f12a"; }
.flaticon-casino-stack-of-coins:before { content: "\f12b"; }
.flaticon-pause-circular-button:before { content: "\f12c"; }
.flaticon-play-right-arrow-circular-button:before { content: "\f12d"; }
.flaticon-stop-circular-multimedia-button:before { content: "\f12e"; }
.flaticon-recycle-bin:before { content: "\f12f"; }
.flaticon-view:before { content: "\f130"; }
.flaticon-hide:before { content: "\f131"; }
.flaticon-tick:before { content: "\f132"; }
.flaticon-loading:before { content: "\f133"; }
.flaticon-alert:before { content: "\f134"; }
.flaticon-locked:before { content: "\f135"; }
.flaticon-mail:before { content: "\f136"; }
.flaticon-grid:before { content: "\f137"; }
.flaticon-bell:before { content: "\f138"; }
.flaticon-plus:before { content: "\f139"; }
.flaticon-pencil:before { content: "\f13a"; }
.flaticon-attachment:before { content: "\f13b"; }
.flaticon-upload:before { content: "\f13c"; }
.flaticon-upload-1:before { content: "\f13d"; }
.flaticon-right-arrow-1:before { content: "\f13e"; }
.flaticon-excel:before { content: "\f13f"; }
.flaticon-download-1:before { content: "\f140"; }
.flaticon-cloud-computing:before { content: "\f141"; }