<!-- <div class="col-md-10" *ngIf="relatedTaskControlAccount">
    <table id="myTable" class="table table-striped">
    <thead>
      <tr>
           
        <th>Category</th>
        <th>Place Holder</th>
        <th>Description</th>
        <th> Holder</th>
        <th>Effective Date</th>
        <th>Status</th>

        
    
              
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cha of controlAccounts; let i = index"  (click)="setSelected(cha)" (dblclick)="modifyCAcount(cha, modifyControlAccount)" [ngClass]="{'selected' : cha === selCha}">
      
        <td>{{cha.ctrlAcctRef.prodCatCd}} </td>
        <td>{{cha.ctrlAcctRef.code}} </td>
              <td>{{cha.ctrlAcctRef.description}}</td>
              <td>{{cha.placeHolder}}</td>
              <td>{{cha.effectiveDate | date:'dd/MM/yyyy'}}</td>
              <td>{{cha.status}}</td>              
      </tr>
    </tbody>
    </table> -->
    <!-- <button (click) = "controlAccountOperation($event)"  class="btn btn-info  usl-btn-color">Add</button> -->
    <!-- <button (click) = "controlAccountOperation($event)"  class="btn btn-info  usl-btn-color">Modify</button> -->
    <!-- <button (click) = "controlAccountOperation($event)"  class="btn btn-info  usl-btn-color">Cancel</button> -->
    <!-- <button (click) = "controlAccountOperation($event)"  class="btn btn-info  usl-btn-color">View</button> -->
   
    <!-- <button (click) = "controlAccountOperation($event)"  class="btn btn-info usl-btn-color">Close</button>
    
    </div> -->
    




    <div class="container-fluid mt-1">
            <div class="row py-3 px-4">
                <div class="col-md-12">
                    <h1>Outward Bank Payment</h1>
                </div>
            </div>
            <div class="row py-2 px-4">
                <div class="col-md-12">
                    <div class="card box-shad">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3" style="border-right: 1px solid rgb(216, 216, 216);">
                                    <div class="row p-4">
                                        <h2>Tasks</h2>
                                    </div>
                                    <ul class="list-group list-group-flush list-group-tradex" style="margin-right: -15px;
                                        margin-left: -15px;">
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/basic-information"
                                                routerLinkActive="active">Basic Information</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/charges"
                                                routerLinkActive="active">Charges</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/currency"
                                                routerLinkActive="active">Currency</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/outward-bank-payment/dashboard/configuration"
                                                routerLinkActive="active">Configuration</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/milestones"
                                                routerLinkActive="active">Milestones</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/control-account"
                                                routerLinkActive="active">Control Account</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a routerLink="/product/outward-bank-payment/dashboard/business-process"
                                                routerLinkActive="active">Business Process</a>
                                        </li>
                                    </ul>
                                </div>
        
                                <div class="col-md-9 mt-5" *ngIf="relatedTaskControlAccount">
                                    <div class="row p-3 pl-2">
                                        <div class="col-md-6">
                                            <h5 class="text-bold">Control Account</h5>
                                            <p>set the appropriate information for the message</p>
                                        </div>
        
                                        <div class="col-md-3 offset-md-3 pr-0">
                                            <button class="btn btn-block btn-primary " (click)="Add()">&oplus; new charge</button>
                                        </div>
                                    </div>
        
                                    <div class="row p-2 pl-2 mt-5">
                                        <div class="col-md-12">
        
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="xc">
                                                        <div class="panel-body">
                                                            <table class="table alt-table table-borderless">
                                                                <thead>
                                                                        <th>Category</th>
                                                                        <th>Place Holder</th>
                                                                        <th>Description</th>
                                                                        <th> Holder</th>
                                                                        <th>Effective Date</th>
                                                                        <th>Status</th>
                                                                    <th></th>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>                                                                    
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>
                                                                            <button
                                                                                class="btn btn-danger round-table-button">&mdash;</button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                       
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>wwwwww</td>
                                                                        <td>
                                                                            <button
                                                                                class="btn btn-danger round-table-button">&mdash;</button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
        
            </div>
        </div>
    
    
    
    
    <!-- <div class="col-md-10" *ngIf="!relatedTaskControlAccount">
        <div class="row white-box">
         <div class="col-md-12" >
            
                 <app-attach-control-account [product]="product" #attachControlAccount></app-attach-control-account>
     </div>
     </div>
     <div class="row">        
             <button (click) = "attachControlAccount.saveAssignedControlAccounttoDB()"  class="btn btn-info  usl-btn-color">Assign</button>       
             <button (click) = "operationClose()"  class="btn btn-info usl-btn-color">Close</button>
            </div>
     </div> -->
    
     
    <!-- Related Task Menu bar only displayed when relatedTaskSave == 1 -->
    
    <!-- <div class="col-md-2 white-box">  
           
      
        <app-related-task-bar></app-related-task-bar>
</div> -->
    
      <!-- Related Task Menu Ends -->

      <ng-template #modifyControlAccount let-c="close" let-d="dismiss">

        <!-- <div class="white-box"> -->
                      <div class="col-md-12">
                        <div class="panel-group" role="tablist" aria-multiselectable="true">
                            <div class="panel-heading pb-0 mb-2" role="tab" id="headingBasic">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="float-left form-icon text-center mr-3">
                                            <span class="flaticon-paper  primary-color"></span>
                                          </div>
                                        <h4 class="panel-title  font-weight-bold secondary-color pt-2 mb-0">
                                            Configure Control Account
                                        </h4>
                                    </div>
            
                                    <div class="col-md-3">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
            
                            </div>                            
                            <div class="panel-wrapper in" aria-expanded="true">
                                <div class="panel-body">
                                    <div class="col-sm-12 col-md-10 offset-md-1">

                                    <!-- <form class="form-horizontal"> -->
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-md-5">Product Category</label>
                                                        <div class="col-md-7">
                                                      
                                                            <input type="text" name="category" [disabled]="true" class="form-control" [(ngModel)]="prev.ctrlAcctRef.prodCatCd">
                                                            <!-- <span class="help-block" >{{error.code}}</span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-md-5">Description</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" [disabled]="true" name="code" [(ngModel)]="prev.ctrlAcctRef.description">
                                                            <!-- <span class="help-block" >{{error.swiftBic}}</span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                
                                            <!-- row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-md-5">Real Account</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" name="surfix" [(ngModel)]="prev.placeHolder">
                                                            <!-- <span class="help-block" >{{error.name}}</span> -->
                                                        </div>
                                                    </div>
                                                </div>
                
                                               

                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-md-5">Effective Date</label>
                                                        <div class="col-md-7">
                                                            <input type="date" class="form-control" name="sequence" [ngModel]="prev.effectiveDate | date:'yyyy-MM-dd'" (ngModelChange)="cha.effectiveDate = $event">
                                                        </div>
                                                    </div>
                                                </div>
                
                
                                            </div>
                
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label col-md-5">Status</label>
                                                        <div class="col-md-7"> 
                                                            <!-- <span class="help-block" >{{error.country}}</span> -->
                                                            
                                                            <select  class="form-control" data-placeholder="Choose a Category" tabindex="1" name="status" [(ngModel)]="prev.status">
                                                                    
                                                                    <option>Inactive</option>
                                                                    <option >Active</option>
    
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>                                        
                                            </div>                                      
   
                                        </div>
                
                                    <!-- </form> -->
                                </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <div class="row p-1">
                                  <div class="col-md-8"></div>
                                  <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block" (click)="d('Cross click')"
                                     >Cancel</button>
                                  </div>
                                  <div class="col-md-2 text-right">
                                    <button class="btn btn-primary btn-block" type="submit"  (click)="c('Save Clicked')">Save</button>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
               
        <!-- </div> -->
        
            </ng-template>