<!-- <div *ngIf="isCreated === 1">
  <p>{{message}}</p>
</div>
<div class="row">

  <div class="col-md-12">
      <div class="panel panel-info">
          <div class="panel-heading"> Exchange Rate </div>
          <div class="panel-wrapper  in" aria-expanded="true">
              <div class="panel-body">
                  
                  <form>
                      <input name="id" [(ngModel)]="exchangerate.id" type="text" hidden>
                      <div class="form-body">

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="code" class="control-label col-md-5">Code</label>
                                      <div class="col-md-7">
                                          <input name="code" [(ngModel)]="exchangerate.code" type="text" id="code" class="form-control">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="name" class="control-label col-md-5">Rate Type</label>
                                      <div class="col-md-7">
                                          <select class="col-md-2" class="form-control" [(ngModel)]="exchangerate.rateType" data-placeholder="Choose a Currency" tabindex="1"
                                          name="fromCurrency" [compareWith]="equals">
                                          <option value="undefined">&lt;---&gt;</option>
                                          <option *ngFor="let ratetype of ratetypes" [ngValue]="ratetype">{{ratetype.code}}</option>
                
                                        </select>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>                             
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="name" class="control-label col-md-5">From Currency</label>
                                      <div class="col-md-7">
                                          <select class="col-md-2" class="form-control" [(ngModel)]="exchangerate.fromCurrency" data-placeholder="Choose a Currency" tabindex="1"
                                          name="fromCurrency" [compareWith]="equals">
                                          <option value="undefined">&lt;---&gt;</option>
                                          <option *ngFor="let currenc of currencies" [ngValue]="currenc">{{currenc.code}}</option>
                
                                        </select>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>   
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="name" class="control-label col-md-5">To Currency</label>
                                      <div class="col-md-7">
                                          <select class="col-md-2" class="form-control" [(ngModel)]="exchangerate.toCurrency" data-placeholder="Choose a Currency" tabindex="1"
                                          name="toCurrency" [compareWith]="equals">
                                          <option value="undefined">&lt;---&gt;</option>
                                          <option *ngFor="let currenc of currencies" [ngValue]="currenc">{{currenc.code}}</option>
                
                                        </select>
                                      </div>
                                  </div>
                              </div>
                              
                          </div> 
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="name" class="control-label col-md-5">Factor</label>
                                      <div class="col-md-7">
                                          <select class="form-control" [(ngModel)]="exchangerate.factor" name="factor">
                                              <option value="undefined">&lt;---&gt;</option>
                                              <option value="MUL">Multiply</option>
                                              <option value="DIV">Divide</option>
                    
                                            </select>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>                                                                              
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group row">
                                      <label for="rate" class="control-label col-md-5">Rate</label>
                                      <div class="col-md-7">
                                          <input name="rate" [(ngModel)]="exchangerate.rate" type="text" id="rate" class="form-control">
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="status" class="control-label col-md-5">Status</label>
                                    <div class="col-md-7">
                                        <input name="status" [(ngModel)]="exchangerate.status" type="text" id="status" class="form-control">
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row">

                              <div class="col-md-6">
                                  <div class="form-group row">
                                    <label for="effectiveDate" class="control-label col-md-5">Expiry Date
                                    </label>
              
                                    <div class="col-md-7">
                                      <input name="effectiveDate" [ngModel]="exchangerate.effectiveDate | date:'yyyy-MM-dd'"  (ngModelchange)="exchangerate.effectiveDate = $event" type="date" id="expiryDate" class="form-control" placeholder="">
                                    </div>
                                  </div>
                                </div>
                          </div>



                      </div>
                      <hr class="m-t-0 m-b-20">
                      <div class="form-actions">
                          <button type="submit" class="btn btn-info usl-btn-color" (click)="createExchRate()">
                              <i class="fa fa-check"></i> Save</button>
                          <button type="button" class="btn btn-info usl-btn-color" routerLink="/exchangerates">Cancel</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="container-fluid mt-1">
    <div class="row p-3 pl-4">
        <div class="col-md-12">
            <h1 class="text-bold">Exchange Rate</h1>
            <!-- <div *ngIf="isCreated === 1">
                <p>{{message}}</p>
              </div> -->
        </div>
    </div>

    <div class="row p-2 pl-4">

        <div class="col-md-12">
            <div class="card pane">
                <div class="card-body form-card">
                    <!-- <div class="panel-heading"> Exchange Rate Type</div> -->
                    <div class="panel-heading" role="tab" id="headingBasic">
                        <div class="float-left form-icon text-center mr-3">
                            <span class="flaticon-paper  primary-color"></span>
                        </div>
                        <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                            Basic Information
                        </h4>
                        <p class="subtitle mb-0  ">Please fill in the appropriate data </p>
                    </div>

                    <div class="panel-wrapper  in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="col-sm-12 col-md-10 offset-md-1">
                                <div class="form-body">

                                    <input name="id" [(ngModel)]="exchangeratetype.id" type="text" hidden>
                                    <div class="form-body">



                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="code" class="control-label col-md-5">Code</label>
                                                    <div class="col-md-7">
                                                        <input name="code" [(ngModel)]="exchangerate.code" type="text"
                                                            id="code" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="name" class="control-label col-md-5">Rate Type</label>
                                                    <div class="col-md-7">
                                                        <select class="col-md-2" class="form-control"
                                                            [(ngModel)]="exchangerate.rateType"
                                                            data-placeholder="Choose a Currency" tabindex="1"
                                                            name="fromCurrency" [compareWith]="equals">
                                                            <option value="undefined">&lt;---&gt;</option>
                                                            <option *ngFor="let ratetype of ratetypes"
                                                                [ngValue]="ratetype">{{ratetype.code}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="name" class="control-label col-md-5">From
                                                        Currency</label>
                                                    <div class="col-md-7">
                                                        <select class="col-md-2" class="form-control"
                                                            [(ngModel)]="exchangerate.fromCurrency"
                                                            data-placeholder="Choose a Currency" tabindex="1"
                                                            name="fromCurrency" [compareWith]="equals">
                                                            <option value="undefined">&lt;---&gt;</option>
                                                            <option *ngFor="let currenc of currencies"
                                                                [ngValue]="currenc">{{currenc.code}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="name" class="control-label col-md-5">To Currency</label>
                                                    <div class="col-md-7">
                                                        <select class="col-md-2" class="form-control"
                                                            [(ngModel)]="exchangerate.toCurrency"
                                                            data-placeholder="Choose a Currency" tabindex="1"
                                                            name="toCurrency" [compareWith]="equals">
                                                            <option value="undefined">&lt;---&gt;</option>
                                                            <option *ngFor="let currenc of currencies"
                                                                [ngValue]="currenc">{{currenc.code}}</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="name" class="control-label col-md-5">Factor</label>
                                                    <div class="col-md-7">
                                                        <select class="form-control" [(ngModel)]="exchangerate.factor"
                                                            name="factor">
                                                            <option value="undefined">&lt;---&gt;</option>
                                                            <option value="MUL">Multiply</option>
                                                            <option value="DIV">Divide</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="rate" class="control-label col-md-5">Rate</label>
                                                    <div class="col-md-7">
                                                        <input name="rate" [(ngModel)]="exchangerate.rate" type="text"
                                                            id="rate" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="status" class="control-label col-md-5">Status</label>
                                                    <div class="col-md-7">
                                                        <input name="status" [(ngModel)]="exchangerate.status"
                                                            type="text" id="status" class="form-control">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="effectiveDate" class="control-label col-md-5">Expiry
                                                        Date
                                                    </label>

                                                    <div class="col-md-7">
                                                        <input name="effectiveDate"
                                                            [ngModel]="exchangerate.effectiveDate | date:'yyyy-MM-dd'"
                                                            (ngModelchange)="exchangerate.effectiveDate = $event"
                                                            type="date" id="expiryDate" class="form-control"
                                                            placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <div class="row p-3">
                        <div class="col-md-8"></div>
                        <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block"
                                (click)="cancel()" type="submit">Cancel</button>
                        </div>
                        <div class="col-md-2 text-right">
                            <button class="btn btn-primary btn-block" type="submit" (click)="save()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>