tr, td{
    padding: 0.2rem 0.4rem;
   
}

thead th{
    padding: 0.4rem !important;
    height: 0px !important;
}

td{
    cursor: pointer;
}

.row{
    padding: 5px 0px;
}

 .nav-item{
    padding: 0.7rem
} 
/* .nav-item a , */
.put{
    padding: 0.5rem;
    border-right: 2px solid #dddddd;
}
.mut{
    border-left: 2px solid #dddddd;
}
/* .nav-item:hover,  */
.active{
    background-color: #d1d1d1;
}
.dropdown{
    /* width: 200px; */
}

.dropdown-toggle::after {
    margin-left: 4.255em !important;
   
}
.bond::after {
    margin-left: 8.255em !important;
   
}
.navbar-collapse{
    padding-left: 5.68rem;
}
