<div class="container-fluid mt-1" *ngIf="view === 0">

    <div class="row py-3 px-4">
     
        <div class="col-md-12">
                <h1 class="text-bold">Template <span *ngIf="errorExists"style="cursor : pointer" class="flaticon-info text-danger ml-3" (click)="loadErrors()"></span></h1>
              </div>
        <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Template </a></li>
                <li class="breadcrumb-item active" aria-current="page">Template table</li>
            </ol>
        </nav>
        </div>
    </div>
    <div class="row py-2 px-4">
        <div class="col-md-12">
            <div class="card panel mb-5">
                <div class="card-body p-4">
                            <div class="row p-4">
                                    <div class="col-md-12">
                                            <h6 class="panel-title  font-weight-bold mb-1">
                                              Template Table
                                                </h6>
                                    </div>
                                    
                            </div>
                            <div class="row px-4  mb-0">
                                    <div class="col-10"></div>
                                    <div class="col">
                                      <button class="btn btn-block btn-primary " (click)="configure()"><i class="flaticon-add mr-2"></i>New</button>
                                    </div>
                                    
                            </div> 
                            <div class="row p-4">
                                <div class="col-md-12">
                                    <table id="myTable" class="table alt-table table-borderless">
                                        <thead>
                                          <th>Name</th>
                                          <th> Placeholder</th>
                                          <th>Description</th>
                                          <!-- <th>JsonContent</th>
                                          <th>HTML</th> -->
                                          <th></th>
                                        </thead>
                                        <tbody >
                                          <tr *ngFor="let item of templates">
                                            <td>{{item.name}}</td>
                                            <td>{{item.placeholder}}</td>
                                            <td>{{item.description}}</td>
                                            <!-- <td>{{item.jsonContent}}</td>
                                            <td>{{item.html}}</td> -->
                                            <td><a (click)="updateTemplate(item.id)"> <span><i class="flaticon-pencil"></i></span></a></td>
                                            <td><a class="btn btn-danger round-table-button" (click)="Delete(item.id)">-</a></td>
                                          </tr>                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                </div>
            </div>
  
  
        </div>
  
    </div>
  </div>












<div class="container-fluid mt-1" *ngIf="view === 1">
  <div class="row p-3 pl-4">
    <div class="col-md-12">
      <h1 class="text-bold">Template Builder Form</h1>
    </div>
  </div>

  <div class="col-md">
    <div class="card panel">
      <div class="card-body form-card">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingBasic">
                <div class="float-left form-icon text-center mr-3">
                  <span class="flaticon-paper  primary-color"></span>
                </div>
                <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                  Template Builder Details
                </h4>
                <p class="subtitle mb-0  ">Please fill in the appropriate data </p>
              </div>
              <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel"
                aria-labelledby="headingBasic">
                <div class="panel-body p-0">

                  <div class="col-sm-12 col-md-10 offset-md-1">
                    <div class="form-body ">

                      <div class="row pl-3">
                        <div class="col-md-6">
                                <div class="row form-group">
                                  <div class="col-md-4">
                                      <label for="table" >Name</label>
                                  </div>
                                  <div class="col-md-8">
                                     <input class="form-control" type="text" [(ngModel)]="tem.name">
                                  </div>
                                </div>                          
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                              <div class="col-md-4">
                                  <label for="table" >Description</label>
                              </div>
                              <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="tem.description">
                              </div>
                            </div>                          
                    </div>

                        
                      </div>
                      
                    </div>
                  </div>


                <!-- nav-bar -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
                         
                          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                              <li class="nav-item active">
                                <a class="nav-link" href="#">Page Section <span class="sr-only">(current)</span></a>
                              </li>
                             
                              <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle mut put" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Select Query
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle bond put" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Text
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Text</a>
                                  <a class="dropdown-item" href="#">Header</a>
                                  <a class="dropdown-item" href="#">Sub header</a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </nav>
                    
                    <!-- <div class="row">

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Title</label>
                          </div>
                          <div class="col-md-8">
                             <input class="form-control" type="text" [(ngModel)]="report.title">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Description</label>
                          </div>
                          <div class="col-md-8">
                             <input class="form-control" type="text" [(ngModel)]="report.description">
                          </div>
                        </div>
                      </div>                    
                       
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row form-group">
                              <div class="col-md-4">
                                  <label for="table" >Name</label>
                              </div>
                              <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="report.name">
                              </div>
                            </div>
                          </div>

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Group ID</label>
                          </div>
                          <div class="col-md-8">
                             <select name="name" id="" class="form-control" [(ngModel)]="report.group" (change)="Change($event)">
                               <option value="">&gt;----------- &gt;</option>
                               <option value="{{item.id}}" *ngFor="let item of reportgroups">{{item.name}}</option>
                             </select>
                          </div>
                        </div>
                      </div>

                               
                       
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row form-group">
                              <div class="col-md-4">
                                  <label for="table" >Report Query ID</label>
                              </div>
                              <div class="col-md-8">
                                 <select name="" id="" class="form-control">
                                   <option value=""></option>
                                 </select>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                              <div class="row form-group">
                                <div class="col-md-4">
                                    <label for="table" >Template ID</label>
                                </div>
                                <div class="col-md-8">
                                   <select name="" id="" class="form-control">
                                     <option value=""></option>
                                   </select>
                                </div>
                              </div>
                            </div>      

                                   
                       
                      </div> -->

              </div>
            </div>
           
            <div class="card-footer text-muted">
              <div class="row p-3">
                <div class="col-md-8"></div>
                <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block" (click)="Cancel()"
                    type="submit">Cancel</button>
                </div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-primary btn-block" type="submit" (click)="processForm()">Save</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>