<div class="container-fluid mt-1">
  <div class="row p-3 pl-4">
    <div class="col-md-12">
      <h1 class="text-bold">Template Builder Form</h1>
    </div>
  </div>

  <div class="col-md">
    <div class="card panel">
      <div class="card-body form-card">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingBasic">
                <div class="float-left form-icon text-center mr-3">
                  <span class="flaticon-paper  primary-color"></span>
                </div>
                <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                  Template Builder Details
                </h4>
                <p class="subtitle mb-0  ">Please fill in the appropriate data </p>
              </div>
              <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel"
                aria-labelledby="headingBasic">
                <div class="panel-body p-0">
                  <!-- <div class="col-sm-12 col-md-10 offset-md-1"> -->
                    <div class="form-body ">


                      <!-- <div class="row pl-3"> -->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <!-- <a class="navbar-brand" href="#">Navbar</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button> -->
                          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                              <li class="nav-item active">
                                <a class="nav-link" href="#">Page Section <span class="sr-only">(current)</span></a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                              </li> -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Select Query
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Text
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#">Text</a>
                                  <a class="dropdown-item" href="#">Header</a>
                                  <a class="dropdown-item" href="#">Sub header</a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      <!-- </div> -->
                    
                    <!-- <div class="row">

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Title</label>
                          </div>
                          <div class="col-md-8">
                             <input class="form-control" type="text" [(ngModel)]="report.title">
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Description</label>
                          </div>
                          <div class="col-md-8">
                             <input class="form-control" type="text" [(ngModel)]="report.description">
                          </div>
                        </div>
                      </div>                    
                       
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row form-group">
                              <div class="col-md-4">
                                  <label for="table" >Name</label>
                              </div>
                              <div class="col-md-8">
                                 <input class="form-control" type="text" [(ngModel)]="report.name">
                              </div>
                            </div>
                          </div>

                      <div class="col-md-6">
                        <div class="row form-group">
                          <div class="col-md-4">
                              <label for="table" >Group ID</label>
                          </div>
                          <div class="col-md-8">
                             <select name="name" id="" class="form-control" [(ngModel)]="report.group" (change)="Change($event)">
                               <option value="">&gt;----------- &gt;</option>
                               <option value="{{item.id}}" *ngFor="let item of reportgroups">{{item.name}}</option>
                             </select>
                          </div>
                        </div>
                      </div>

                               
                       
                      </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row form-group">
                              <div class="col-md-4">
                                  <label for="table" >Report Query ID</label>
                              </div>
                              <div class="col-md-8">
                                 <select name="" id="" class="form-control">
                                   <option value=""></option>
                                 </select>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                              <div class="row form-group">
                                <div class="col-md-4">
                                    <label for="table" >Template ID</label>
                                </div>
                                <div class="col-md-8">
                                   <select name="" id="" class="form-control">
                                     <option value=""></option>
                                   </select>
                                </div>
                              </div>
                            </div>      

                                   
                       
                      </div> -->
                   
                    



                  <!-- </div> -->
                </div>
              </div>
            </div>
           
            <div class="card-footer text-muted">
              <div class="row p-3">
                <div class="col-md-8"></div>
                <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block" (click)="Cancel()"
                    type="submit">Cancel</button>
                </div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-primary btn-block" type="submit" (click)="processForm()">Save</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>