<div class="container-fluid mt-1">
    <div class="row p-3 pl-4">
        <div class="col-md-4">
          <h1 class="text-bold">Inward Bank Payment</h1>
        </div>
       
      </div>

      
      <div class="row no-gutters">

      <!-- <div class="col-md-3 pr-0" #sidebar>
        <div class="position-fixed ml-0" id="fixed-side-container">
          <div class="card panel">
            <div classs="card-body form-card">
              <div class="row p-4">
                <div class="col-md-9" id="sectionDiv">
                  <h2>Section</h2>
                </div>
                <div class="col float-right">
                  <a [appSidebarCollapse]='sidebar'>
                    <i class="fa fa-arrow-left" aria-hidden="true" id="ico"></i> 
                  </a>
                </div>
              </div>
              <ul class="list-group list-group-flush list-group-tradex" id="itemsDiv">
                <li class="list-group-item">
                  <a (click)="scroll(basic)">Basic Information</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(Ordering)">Ordering Bank Information</a>
                </li>
                <li class="list-group-item">
                  <a  (click)="scroll(Beneficiary)">Beneficiary Bank </a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(Receiver)">Receiver Correspondent Bank</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(SenderCorr)">Sender's corresponding bank Information</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(SenderRe)"> Sender to receiver Information</a>
                </li>
                <li class="list-group-item">
                  <a  (click)="scroll(currency)">Currency Reporting</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(parties)">Additional Parties</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(documents)">Documents</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(foreign)">Fgn Exchange Deals</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(charges)">Charges</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(checklists)">Checklists</a>
                </li>
                <li class="list-group-item">
                  <a (click)="scroll(control)">Control Information</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-1">

        <div class="col-md-6 m-0 p-0">
            <div class="dropdown">
          <button class="toggle-btn btn staticBtn">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <div class="dropdown-content position-fixed ml-0 bg-white"  id="fixed-side-container">
            <!-- <a href="#">Basic infomation</a>
            <a href="#">Charges</a>
            <a href="#">Currency </a>
            <a href="#">Configuration</a>
            <a href="#">Milestone</a>
            <a href="#">Business Process</a>
            <a href="#">Control Account</a> -->
  
                  <ul class="list-group list-group-flush list-group-tradex" id="itemsDiv" >
              
              <li class="list-group-item">
                <a (click)="scroll(basic)">Basic Information</a>
              </li>
  
              <li class="list-group-item">
                <a (click)="scroll(Ordering)">Ordering Bank Information</a>
              </li>
              <li class="list-group-item">
                <a  (click)="scroll(Beneficiary)">Beneficiary Bank </a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(Receiver)">Receiver Correspondent Bank</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(SenderCorr)">Sender's bank Information</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(SenderRe)"> Sender to receiver Information</a>
              </li>
              <li class="list-group-item">
                <a  (click)="scroll(currency)">Currency Reporting</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(parties)">Additional Parties</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(documents)">Documents</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(foreign)">Fgn Exchange Deals</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(charges)">Charges</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(checklists)">Checklists</a>
              </li>
              <li class="list-group-item">
                <a (click)="scroll(control)">Control Information</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
      


      <div class="col-md-11">
        <div class="card panel">
          <div class="card-body form-card">
            <form>
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBasic">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                      Basic Information
                    </h4>
                    <p class="subtitle mb-0  ">Please fill in the appropriate data for this product </p>
                  </div>
                <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">
                           

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Reference Number&nbsp;
                                        </label>

                                        <div class="col-md-8">
                                            <input name="refNumber" [disabled]='true' [(ngModel)]="inward.refNumber" type="text" id="refNumber" class="form-control"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Product &nbsp;
                                        </label>

                                        <div class="col-md-8">
                                            <input name="product" [disabled]='true' [(ngModel)]="productName" type="text" id="product" class="form-control"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                            
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="customer" class="control-label col-md-4">Warrant Reference &nbsp;
                                        </label>

                                        <div class="col-md-8">
                                            <input name="warrantRef" [disabled]='true' [(ngModel)]="inward.warrantRef" type="text" id="warrantRef" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Related Reference &nbsp;
                                        </label>

                                        <div class="col-md-8">
                                            <input name="relatedReference"  [(ngModel)]="inward.relatedReference" type="text" id="product" class="form-control"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>

                            </div>

                          
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Msg Del Channel</label>
                                        <div class="col-md-8">
                                            <select class="col-md-8" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="msgDelChannel" [(ngModel)]="inward.msgDelChannel">
                                                <option value="">---Please select---</option>
                                                <option value="swift">Swift</option>
                                                <option value="telex">Telex</option>
                                                <option value="courier">Courier</option>

                                            </select>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="instructionCode" class="control-label col-md-4">Transfer Amount</label>
                                        <div class="col-md-4">
                                            <select class="col-md-9" class="form-control" data-placeholder="Choose a Currency" tabindex="1" name="ourChrgs" [(ngModel)]="inward.transferAmount" [compareWith]="equals">
                                        
                                                    <option *ngFor="let currenc of currencies" [ngValue]="currenc">{{currenc.code}}</option>


                                            </select>



                                        </div>
                                        <div class="col-md-4">
                                            <input name="transferAmountFig" [(ngModel)]="inward.transferAmountFig" type="text" id="transferAmountFig" class="form-control" placeholder="">
                                        </div>


                                    </div>
                                </div>

                            </div>

                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="remitterAddr" class="control-label col-md-4">Value Date
                                        </label>
                                        <div class="col-md-8">
                                            <input name="valueDate" [(ngModel)]="inward.valueDate" rows="4" type="date" id="valueDate" class="form-control" placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for = "code" class="control-label col-md-4">Event</label>
                                        <div class="col-md-8">
                                            <select class="form-control" data-placeholder="Choose a Event" tabindex="1" name="busProEventId" [(ngModel)]="inward.busProEventId" (change)="getCalculatedCharges()">
                                                <option *ngFor="let event of Events" value={{event.id}} selected="inward.busProEventId==event.id? true : null">
                                                  {{event.description}} 
                                                </option>
                          
                                              </select>                                            
                                          </div>
                                         </div>
                                </div>

                            </div>
                           

                        </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBenInfo">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #Ordering>
                        Ordering Bank Information
                    </h4>
                  </div>
                <div id="collapseCorrespondingInfo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingCorrespondingInfo">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="ourCorrBank" class="control-label col-md-4">Bank Code</label>
                                        <div class="col-md-8 input-group">
                                                <input name="orderingBankCode" [(ngModel)]="inward.orderingBankCode" type="text" id="interbkSetAmt" class="form-control"
                                                placeholder="">
                                                <div class="input-group-append" style="height: 30px;">
                                                    <span class="input-group-text" style="background-color: #2043f5; color: white;"><i
                                                        class="fa fa-search" aria-hidden="true"></i></span>
                                                  </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="ourCorrBank" class="control-label col-md-4">Bank Name</label>
                                            <div class="col-md-8">
                                                    <input name="orderingBankName" [(ngModel)]="inward.orderingBankName" type="text" id="interbkSetAmt" class="form-control"
                                                    placeholder="">

                                            </div>
    
    
                                        </div>
                                    </div>


                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="ourCorrBank" class="control-label col-md-4">Bank Address</label>
                                            <div class="col-md-8">
                                                    <textarea name="orderingBankAddress" rows="5" [(ngModel)]="inward.orderingBankAddress"  id="" class="form-control"
                                                    ></textarea>

                                            </div>
    
    
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="ourCorrBank" class="control-label col-md-4">Bank Location</label>
                                                <div class="col-md-8">
                                                        <input name="orderingBankLocation" [(ngModel)]="inward.orderingBankLocation" type="text" id="" class="form-control"
                                                        placeholder="">
    
                                                </div>
        
        
                                            </div>
                                        </div>
    
    
                                </div>

                        </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBenInfo">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #Beneficiary>
                        Beneficiary Bank 
                    </h4>
                  </div>
                <div id="collapseBenBank" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBenBank">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Code &nbsp;
                                            <!-- <span class="fa fa-search" ></span> -->
                                        </label>
                                        <div class="col-md-8 input-group">
                                            <input name="benBankCode" [(ngModel)]="inward.benBankCode" type="text" id="benBankCode" class="form-control" placeholder="">
                                            <div class="input-group-append" style="height: 30px;">
                                                <span class="input-group-text" style="background-color: #2043f5; color: white;"><i
                                                    class="fa fa-search" aria-hidden="true"></i></span>
                                              </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Name &nbsp;
                                        </label>
                                        <div class="col-md-8">
                                            <input name="benBankName" [(ngModel)]="inward.benBankName" type="text" id="benBankName" class="form-control" placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Address
                                        </label>
                                        <div class="col-md-8">
                                            <textarea name="benBankAddress" [(ngModel)]="inward.benBankAddress" rows="4" type="text" id="benBankAddress" class="form-control"
                                                placeholder=""></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Location
                                        </label>
                                        <div class="col-md-8">
                                            <input name="benBankLocation" [(ngModel)]="inward.benBankLocation" type="text" id="benBankLocation" class="form-control"
                                                placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBenInfo">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #Receiver>
                        Receiver Correspondent Bank 
                    </h4>
                  </div>
                <div id="collapseCorrBank" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingCorrBank">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Code &nbsp;
                                            <!-- <span class="fa fa-search" ></span> -->
                                        </label>
                                        <div class="col-md-8 input-group">
                                            <input name="receiverCorBankCode" [(ngModel)]="inward.receiverCorBankCode" type="text" id="receiverCorBankCode" class="form-control" placeholder="">
                                            <div class="input-group-append" style="height: 30px;">
                                                <span class="input-group-text" style="background-color: #2043f5; color: white;"><i
                                                    class="fa fa-search" aria-hidden="true"></i></span>
                                              </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Name &nbsp;
                                        </label>
                                        <div class="col-md-8">
                                            <input name="receiverCorBankName" [(ngModel)]="inward.receiverCorBankName" type="text" id="receiverCorBankName" class="form-control" placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Address
                                        </label>
                                        <div class="col-md-8">
                                            <textarea name="receiverCorBankAddress" [(ngModel)]="inward.receiverCorBankAddress" rows="4" type="text" id="receiverCorBankAddress" class="form-control"
                                                placeholder=""></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="code" class="control-label col-md-4">Bank Location
                                        </label>
                                        <div class="col-md-8">
                                            <input name="receiverCorBankLocation" [(ngModel)]="inward.receiverCorBankLocation" type="text" id="receiverCorBankLocation" class="form-control"
                                                placeholder="">
                                        </div>

                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBenInfo">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #SenderCorr>
                        Sender's corresponding bank Information 
                    </h4>
                  </div>
                <div id="collapseCorrespondingInfo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingCorrespondingInfo">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="ourCorrBank" class="control-label col-md-4">Bank Code</label>
                                        <div class="col-md-8 input-group">
                                                <input name="senderBankCode" [(ngModel)]="inward.senderBankCode" type="text" id="interbkSetAmt" class="form-control"
                                                placeholder="">
                                                <div class="input-group-append" style="height: 30px;">
                                                    <span class="input-group-text" style="background-color: #2043f5; color: white;"><i
                                                        class="fa fa-search" aria-hidden="true"></i></span>
                                                  </div>

                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="ourCorrBank" class="control-label col-md-4">Bank Name</label>
                                            <div class="col-md-8">
                                                    <input  type="text" [(ngModel)]="inward.senderBankName"  name="senderBankName"id="interbkSetAmt" class="form-control"
                                                    placeholder="">

                                            </div>
    
    
                                        </div>
                                    </div>


                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="ourCorrBank" class="control-label col-md-4">Bank Address</label>
                                            <div class="col-md-8">
                                                    <textarea name="senderBankAddress" rows="5" [(ngModel)]="inward.senderBankAddress"  id="" class="form-control"
                                                    ></textarea>

                                            </div>
    
    
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="ourCorrBank" class="control-label col-md-4">Bank Location</label>
                                                <div class="col-md-8">
                                                        <input name="senderBankLocation" [(ngModel)]="inward.senderBankLocation" type="text" id="" class="form-control"
                                                        placeholder="">
    
                                                </div>
        
        
                                            </div>
                                        </div>
    
    
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBenInfo">
                    <div class="float-left form-icon text-center mr-3">
                      <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #SenderRe>
                        Sender to receiver Information 
                    </h4>
                  </div>
                <div id="collapseSender" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingSender">
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-10 offset-md-1">

                        <div class="form-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="ourNostroAccNum" class="control-label col-md-4">Sender to recever Info</label>

                                        <div class="col-md-8">
                                            <textarea name="senderToReceiverInfo" [(ngModel)]="inward.senderToReceiverInfo" rows="4" type="text" id="senderToReceiverInfo"
                                                class="form-control" placeholder=""></textarea>
                                        </div>


                                    </div>
                                </div>


                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" panel-default">
                <div class="panel-heading" role="tab" id="headingBasic">
                        <div class="float-left form-icon text-center mr-3">
                            <span class="flaticon-paper  primary-color"></span>
                            </div>
                            <h4 class="panel-title secondary-color font-weight-bold pt-2" #currency>
                                Currency Reporting 
                            </h4>
                </div>
                <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                  <div class="panel-body">

                    <div class="col-sm-12 col-md-10 offset-md-1">

                            <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="instructionCode" class="control-label col-md-4">Base Foreign Currency equiv /rate</label>
                                                <div class="col-md-4">
                                                    <select class="col-md-9" class="form-control"  data-placeholder="Choose a Category" tabindex="1" name="baseFgnCurrEquiRateCurr" [(ngModel)]="inward.baseFgnCurrEquiRateCurr" [compareWith]="equals">
                                                            
                                                            <option *ngFor="let currenc of currencies" [ngValue]="currenc">{{currenc.code}}</option>
          
          
                                                    </select>
          
          
          
                                                </div>
                                                <div class="col-md-4">
                                                    <input name="baseFgnCurrEquiRateFig" [(ngModel)]="inward.baseFgnCurrEquiRateFig" type="text" id="" class="form-control" >
                                                </div>
          
          
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <input name="baseFgnCurrEquiRateExtra" type="text" id="baseFgnCurrEquiRateExtra" [(ngModel)]="inward.baseFgnCurrEquiRateExtra"
                                                        class="form-control" >
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-primary btn-block" style="padding: 6px 3px !important; font-size: 11px;">Exchange Rate</button>
                                                </div>
          
                                            </div>
                                        </div>
          
          
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="instructionCode" class="control-label col-md-4">Local Currency equiv /rate</label>
                                                <div class="col-md-4">
                                                    <select class="col-md-9" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="localCurrEquiRateCurr"  [(ngModel)]="inward.localCurrEquiRate" [compareWith]="equals">
                                                            <option value="0">---Please select---</option>
                                                            <option *ngFor="let currenc of currencies" [ngValue]="currenc">{{currenc.code}}</option>
          
          
                                                    </select>
          
          
          
                                                </div>
                                                <div class="col-md-4">
                                                    <input name="localCurrEquiRateFig" [(ngModel)]="inward.localCurrEquiRateFig" type="text" id="" class="form-control">
                                                </div>
          
          
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <input name="localCurrEquiRateExtra" type="text" id="localCurrEquiRateExtra" class="form-control" [(ngModel)]="inward.localCurrEquiRateExtra"
                                                    >
                                                </div>
                                                <div class="col-md-4">
                                                        <button class="btn btn-primary btn-block" style="padding: 6px 3px !important; font-size: 11px;">Exchange Rate</button>
                                                    <!-- <button class="btn btn-info  usl-btn-color">Exchange Rate</button> -->
                                                </div>
          
                                            </div>
                                        </div>
          
          
                                    </div>
          
                                </div>
                    </div>
                  </div>
                </div>
              </div>






            
              <div class=" panel-default">
                <div class="panel-heading" role="tab" id="headingBasic">
                        <div class="float-left form-icon text-center mr-3">
                                <span class="flaticon-paper  primary-color"></span>
                                </div>
                                <h4 class="panel-title secondary-color font-weight-bold pt-2" #parties>
                                    Additional Parties
                                </h4>
                </div>
                <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                  <div class="panel-body">
            
                    <div class="col-sm-12 col-md-10 offset-md-1">
                                                  
                            <br>
                            <div class="form-body" *ngIf="setChildren">
                                <!-- <app-party-categories [instrumentRegister]="instrumentRegister"></app-party-categories> -->
                            </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" panel-default">
                    <div class="panel-heading" role="tab" id="headingBasic">
                            <div class="float-left form-icon text-center mr-3">
                                    <span class="flaticon-paper  primary-color"></span>
                                    </div>
                                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #documents>
                                        Documents
                                    </h4>
                    </div>
                    <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                      <div class="panel-body">
                
                        <div class="col-sm-12 col-md-10 offset-md-1">
                
                                <br>
                                <div class="form-body" *ngIf="setChildren">
          
                                    <!-- <app-documents [instrumentRegister]="instrumentRegister"></app-documents> -->
                                </div>
                
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class=" panel-default">
                        <div class="panel-heading" role="tab" id="headingBasic">
                                <div class="float-left form-icon text-center mr-3">
                                        <span class="flaticon-paper  primary-color"></span>
                                        </div>
                                        <h4 class="panel-title secondary-color font-weight-bold pt-2" #foreign>
                                            Fgn Exchange Deals 
                                        </h4>
                        </div>
                        <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                          <div class="panel-body">
                    
                            <div class="col-sm-12 col-md-10 offset-md-1">
                    
                                    <div class="panel-body" *ngIf="setChildren">
                                            <!-- <app-foreign-exchange-deals [instrumentRegister]="instrumentRegister"></app-foreign-exchange-deals> -->
                      
                      
                                        </div>
                    
                            </div>
                          </div>
                        </div>
                      </div>

          <div class=" panel-default">
                <div class="panel-heading" role="tab" id="headingBasic">
                        <div class="float-left form-icon text-center mr-3">
                                <span class="flaticon-paper  primary-color"></span>
                                </div>
                                <h4 class="panel-title secondary-color font-weight-bold pt-2" #charges>
                                    Charges
                                </h4>
                </div>
                <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                  <div class="panel-body">

                    <div class="col-sm-12 col-md-10 offset-md-1">

                            <div class="panel-body" *ngIf="setChildren">
                                    <!-- <app-charges [instrumentRegister]="instrumentRegister"></app-charges> -->
                                    <div class="table-responsive">
                                      <table id="myTable" class="table table-striped">
                                          <thead>
                                              <tr>
                                                    
                                                      <th>Charge Type</th>
                                                      <th>Charge Currency</th>
                                                      <th>Charge Amount</th>
                                                      <th>Pay Amount</th>
                                                      <th>Tax Amount</th>
                                                      <th></th>
                                              </tr>
                                          </thead>
                                          <tbody >
                                              <tr *ngFor = "let charge of CalculatedCharges">
                                                      
                                                <td>{{charge.chargeType}}</td>
                                                <td>{{charge.chargeCurrency}}</td>
                                                <td>{{charge.chargeAmount}}</td>
                                                <td>{{charge.payAmount}}</td>
                                                <td>{{charge.taxAmount}}</td>
                                                <td> <input class="pull-right fcbtn btn btn-success btn-outline btn-1f" type="button" value="Update" (click)="UpdateCharge(charge.id)"/></td>
                                              </tr>
                                             
                                            
                                          </tbody>
                                      </table>
                                  </div> 
                                    
                                </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class=" panel-default">
                    <div class="panel-heading" role="tab" id="headingBasic">
                            <div class="float-left form-icon text-center mr-3">
                                    <span class="flaticon-paper  primary-color"></span>
                                    </div>
                                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #checklists>
                                       Checklists
                                    </h4>
                    </div>
                    <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
                      <div class="panel-body">
                
                        <div class="col-sm-12 col-md-10 offset-md-1">
                
                                <div class="form-body" *ngIf="setChildren">

                                        <!-- <app-checklists></app-checklists> -->

                                        </div>
                
                        </div>
                      </div>
                    </div>
                  </div>
    <div class=" panel-default">
      <div class="panel-heading" role="tab" id="headingBasic">
            <div class="float-left form-icon text-center mr-3">
                    <span class="flaticon-paper  primary-color"></span>
                    </div>
                    <h4 class="panel-title secondary-color font-weight-bold pt-2" #control>
                       Control Information 
                    </h4>
      </div>
      <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasic">
        <div class="panel-body">

          <div class="col-sm-12 col-md-10 offset-md-1">
                <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="servicingBranch" class="control-label col-md-4">Servicing Branch</label>

                                    <div class="col-md-8">
                                        <input name="servicingBranch" [(ngModel)]="inward.servicingBranch" type="text" id="servicingBranch" class="form-control"
                                            placeholder="">
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="homeBranch" class="control-label col-md-4">Home Branch</label>

                                    <div class="col-md-8">
                                        <input name="homeBranch" [(ngModel)]="inward.homeBranch" type="text" id="baseFgnCurrEquiRate" class="form-control" placeholder="">
                                    </div>


                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="servicingBranch" class="control-label col-md-4">Relationship Management</label>

                                    <div class="col-md-8">
                                        <input name="relationshipManagement"  [(ngModel)]="inward.relationshipManagement" type="text" id="relationshipManagement"
                                            class="form-control" placeholder="">
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="effectiveDate" class="control-label col-md-4">Effective Date</label>

                                    <div class="col-md-8">
                                        <input name="effectiveDate"  [ngModel]="inward.effectiveDate | date:'yyyy-MM-dd'" (ngModelChange)="inward.effectiveDate = $event" type="date" id="effectiveDate" class="form-control" placeholder="">
                                    </div>


                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="status" class="control-label col-md-4">Status</label>

                                    <div class="col-md-8">
                                        <input name="status" [disabled]='true' [(ngModel)]="inward.status" type="text" id="status" class="form-control" placeholder="">
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="isInTransit">
                                    <div class="form-group row">
                                        <label for="rejectQueueId" class="control-label col-md-4">Reject Queue</label>
                                        <div class="col-md-8">
                                                
                                            <select class="form-control" data-placeholder="rejectQueueId" tabindex="1" name="rejectQueueId" [(ngModel)]="inwardAmend.rejectQueueId">
                                                <option *ngFor="let step of rejectSteps" value={{step.id}} selected="test.rejectQueueId==step.id? true : null">
                                                    {{step.description}}
                                                </option>
                                            </select>
                                        
                                    </div>
                                    </div>
                                </div>

                            
                        </div>

                    </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row p-3">
          <div class="col-md-8"></div>
          <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block" (click)="cancel()"
              type="submit">Cancel</button>
          </div>
          <div class="col-md-2 text-right">
            <button class="btn btn-primary btn-block" type="submit" (click)="save()">Save</button>
          </div>
        </div>
      </div>
            <!-- <div class="modal-footer">
                <div class="form-actions">

                    <div class="row">
                            <div class="form-actions" *ngIf="!isInTransit">
                        <button type="button" class="btn btn-info usl-btn-color" (click)="createInwardBankPayment()">
                            <li class="fa fa-check-o"></li> Save</button>&nbsp;
                            <button type="button" class="btn btn-info usl-btn-color" (click)="createInwardBankPayment()">
                                    <li class="fa fa-check-o"></li> Submit</button>&nbsp;
                        <button type="button" class="btn btn-info usl-btn-color" (click)="d('Cross click')">Cancel</button>
                        </div>
                        <div class="form-actions" *ngIf="isInTransit">
                                <button type="submit" class="btn btn-info usl-btn-color" (click)="approve(inward)">
                                    <i class="fa fa-check"></i> Ok</button>
                                <button type="button" class="btn btn-info usl-btn-color" (click)="reject(inward)">Reject</button>
                            </div>

                    </div>
                </div>
            </div> -->
        </div>



</form>
</div>
</div>
</div>
</div>
</div>


<!-- CHARGE TABLE DISPLAY -->
<!-- <div class="table-responsive">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                  
                    <th>Charge Type</th>
                    <th>Charge Currency</th>
                    <th>Charge Amount</th>
                    <th>Pay Amount</th>
                    <th>Tax Amount</th>
                    <th></th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor = "let charge of CalculatedCharges">
                    
              <td>{{charge.chargeType}}</td>
              <td>{{charge.chargeCurrency}}</td>
              <td>{{charge.chargeAmount}}</td>
              <td>{{charge.payAmount}}</td>
              <td>{{charge.taxAmount}}</td>
              <td> <input class="pull-right fcbtn btn btn-success btn-outline btn-1f" type="button" value="Update" (click)="UpdateCharge(charge.id)"/></td>
            </tr>
           
          
        </tbody>
    </table>
</div>  -->

