<div class="col-sm-12">
  <div class="white-box">
     

      <table id="myTable7" class="table table-striped">
          <thead style="background-color:#eaf4f8;">
              <tr>

                  <th>Reference</th>
                  <th>Customer</th>
                  <th style="text-align: right">Allocated Amt</th>
                  <th style="text-align: right">Requested Amt</th>
                  <th style="text-align: right">New Allocated Amt</th>
                  <th style="text-align: right">New Requested Amt</th>
                 
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let bidRequest of fxAllocations" (click)="setForex($event, bidRequest)" [ngClass]="{'selected' : bidRequest === selectedBidReuest}">
                  <td>{{bidRequest.referenceNum}}</td>
                  <td>{{bidRequest.customer}}</td>
                  <td style="text-align: right">{{bidRequest.allocatedAmt |number:'1.2' }}</td>
                  <td style="text-align: right">{{bidRequest.requestAmount|number:'1.2' }}</td>
                  <td style="text-align: right">{{bidRequest.newAllocationAmt |number:'1.2' }}</td>
                  <td style="text-align: right">{{bidRequest.newBidAmt |number:'1.2' }}</td>
              </tr>
          </tbody>
      </table>

      <div class="row">

          <button [disabled]="enableFromParent" (click)="open(content,'bidRequest')" class="btn btn-info  usl-btn-color-sm">Modify</button>
          <button [disabled]="enableFromParent" (click)="openConfirmationDialog(bidRequest)" class="btn btn-info  usl-btn-color-sm">Delete</button>
          <button [disabled]="enableFromParent" (click)="openDocumentView(bidRequest)" class="btn btn-info  usl-btn-color-sm">View</button>

      </div>



  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-info">
              <div class="panel-heading">Foreign Exchange Deals
                  <span>
                      <button type="button" style="color:#F00; font-weight: bold;" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </span>
              </div>


          </div>
          <div class="panel-group" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingBasicFx">
                      <h4 class="panel-title">
                          <a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBasicFx" aria-expanded="false"
                              aria-controls="collapseBasicFx" style="color :#2b2b2b;font-weight: bold;">Basic Information </a>
                      </h4>
                  </div>
                  <div id="collapseBasicFx" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingBasicFx">
                      <div class="panel-body">


                          <div class="form-body">
                              <input name="id" [(ngModel)]="forex.id" type="text" hidden>

                              <div class="row">
                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="reference" class="control-label col-md-4">Forex Request Reference</label>
                                          <div class="col-md-8">
                                              <input name="forexRequestRef" [(ngModel)]="fxAllocation.forexRequestRef" type="text" id="ref" class="form-control" placeholder="">
                                          </div>
                                      </div>
                                  </div>


                              </div>

                              <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="reference" class="control-label col-md-4">Collation Reference</label>
                                        <div class="col-md-8">
                                            <input name="collationRef" [(ngModel)]="fxAllocation.collationRef" type="text" id="ref" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group">
                                      <label for="reference" class="control-label col-md-4">Customer</label>
                                      <div class="col-md-8">
                                          <input name="customerName" [(ngModel)]="fxAllocation.customerName" type="text" id="ref" class="form-control" placeholder="">
                                      </div>
                                  </div>
                              </div>


                          </div>

                             

                              <div class="row">
                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="sellA" class="control-label col-md-4">Request Amount</label>
                                          <div class="col-md-4">
                                              <select class="col-md-8" [(ngModel)]="fxAllocation.requestAmtCurr" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="requestAmtCurr">
                                                  <!-- <option value="">---Please select---</option>
                                                  <option *ngFor="let currency of currencies">{{currency.code}}</option> -->
                                              </select>

                                          </div>
                                          <div class="col-md-4">
                                              <input type="text" name="requestAmt" [(ngModel)]="fxAllocation.requestAmt" id="sell" class="form-control" placeholder="">
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="sellA" class="control-label col-md-4">Allocated Amount</label>
                                        <div class="col-md-4">
                                            <select class="col-md-8" [(ngModel)]="fxAllocation.alocatedAmtCurr" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="alocatedAmtCurr">
                                                <!-- <option value="">---Please select---</option>
                                                <option *ngFor="let currency of currencies">{{currency.code}}</option> -->
                                            </select>

                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="allocatedAmt" [(ngModel)]="forex.allocatedAmt" id="sell" class="form-control" placeholder="">
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-md-9">
                                  <div class="form-group">
                                      <label for="sellA" class="control-label col-md-4">New Bid Amount</label>
                                      <div class="col-md-4">
                                          <select class="col-md-8" class="form-control" [(ngModel)]="fxAllocation.newBidAmtCurr" data-placeholder="Choose a Category" tabindex="1" name="newBidAmtCurr">
                                              <!-- <option value="">---Please select---</option>
                                              <option *ngFor="let currency of currencies">{{currency.code}}</option> -->
                                          </select>

                                      </div>
                                      <div class="col-md-4">
                                          <input type="text" name="newBidAmt" [(ngModel)]="forex.newBidAmt" id="sell" class="form-control" placeholder="">
                                      </div>

                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="sellA" class="control-label col-md-4">New Allocation Amount</label>
                                    <div class="col-md-4">
                                        <select class="col-md-8" [(ngModel)]="fxAllocation.newAllocationAmtCurr" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="newAllocationAmtCurr">
                                            <!-- <option value="">---Please select---</option>
                                            <option *ngFor="let currency of currencies">{{currency.code}}</option> -->
                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" name="newAllocationAmt" [(ngModel)]="forex.newAllocationAmt" id="sell" class="form-control" placeholder="">
                                    </div>

                                </div>
                            </div>
                        </div>


                              <div class="row">



                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="exchangeRate" class="control-label col-md-4">Exchange Rate</label>
                                          <div class="col-md-8">
                                              <input type="text" name="exchangeRate" [(ngModel)]="forex.exchangeRate" id="exchangeRate" class="form-control" placeholder="Exchange Rate">

                                          </div>

                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="buysellcurr" class="control-label col-md-4">Buy/Sell Currencies</label>
                                          <div class="col-md-4">
                                              <select class="col-md-8" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="sellCcy" [(ngModel)]="forex.sellCcy">
                                                  <option value="">---Please select---</option>
                                                  <option *ngFor="let currenc of currencies">{{currenc.code}}</option>

                                              </select>

                                          </div>
                                          <div class="col-md-4">
                                              <select class="col-md-8" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="buyCcy" [(ngModel)]="forex.buyCcy">
                                                  <option value="">---Please select---</option>
                                                  <option *ngFor="let curr of currencies">{{curr.code}}</option>


                                              </select>

                                          </div>

                                      </div>
                                  </div>



                              </div>
                              <div class="row">


                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="buyAmt" class="control-label col-md-4">Buy Amount</label>
                                          <div class="col-md-4">
                                              <select class="col-md-8" class="form-control" data-placeholder="Choose a Category" tabindex="1" >
                                                  <option value="">---Please select---</option>
                                                  <option *ngFor="let currency of currencies">{{currency.code}}</option>



                                              </select>

                                          </div>
                                          <div class="col-md-4">
                                              <input type="text" name="buyAmt" [(ngModel)]="forex.buyAmt" id="buyAmt" class="form-control" placeholder="">
                                          </div>

                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="dealDate" class="control-label col-md-4">Deal Date</label>
                                          <div class="col-md-8">
                                              <input name="dealDate" [(ngModel)]="forex.dealDate" type="date" id="dealDate" class="form-control" placeholder="">
                                          </div>
                                      </div>
                                  </div>


                              </div>
                              <div class="row">

                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="maturityDate" class="control-label col-md-4">Maturity Date</label>
                                          <div class="col-md-8">
                                              <input name="maturityDate" [(ngModel)]="forex.maturityDate" type="date" id="maturityDate" class="form-control" placeholder="Deal Reference">
                                          </div>
                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-9">
                                      <div class="form-group">
                                          <label for="remarks" class="control-label col-md-4">Remarks</label>

                                          <div class="col-md-8">
                                              <textarea type="text" name="remarks" rows="4" class="form-control" [(ngModel)]="forex.remarks"></textarea>
                                          </div>

                                      </div>
                                  </div>

                              </div>




                          </div>
                      </div>

                      <div class="modal-footer">
                          <div class="form-actions">
                              <button [disabled]="enableFromParent" type="button" class="btn btn-success" (click)="c('Close click')">
                                  <li class="fa fa-check-o"></li> Save</button>
                              <button [disabled]="enableFromParent" type="button" class="btn btn-default" (click)="d('Cross click')">Cancel</button>
                          </div>
                      </div>

                  </div>





              </div>


                  <div class="panel-heading" role="tab" id="headingControlInfo">
                      <h4 class="panel-title">
                          <a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseControlInfo" aria-expanded="false"
                              aria-controls="collapseControlInfo" style="color :#2b2b2b;font-weight: bold;">Control Information </a>
                      </h4>
                  </div>
                  <div id="collapseControlInfo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingControlInfo">
                      <div class="panel-body">


                          <div class="form-body">
                              <div class="row">

                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="actual" class="control-label col-md-4">Effective Date</label>
                                          <div class="col-md-8">
                                              <input type="date" name="actual" [(ngModel)]="fxDeal.effectiveDate" id="actual" class="form-control" placeholder="Actual">
                                          </div>

                                      </div>
                                  </div>


                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="involvementValue" class="control-label col-md-4">Status</label>
                                          <div class="col-md-8">
                                              <select class="col-md-9" class="form-control" data-placeholder="Choose a Category" tabindex="1" name="involvementValue" [(ngModel)]="fxDeal.involvementValue">
                                                  <option value="">-Please Select-</option>
                                                  <option value="active">Active</option>
                                                  <option value="inactive">Inactive</option>


                                              </select>



                                          </div>


                                      </div>
                                  </div>

                              </div>

                              <div class="modal-footer">
                                  <div class="form-actions">
                                      <button type="button" class="btn btn-success" (click)="c('Close click')">
                                          <li class="fa fa-check-o"></li> Save</button>
                                      <button type="button" class="btn btn-default" (click)="d('Cross click')">Cancel</button>
                                  </div>
                              </div>


                          </div>
                      </div>
                  </div>


              </div> -->
          </div>
      </div>
  
</ng-template>

