<!-- <div class="col-md-12" *ngIf="relatedTaskCharge">
    <table id="myTable" class="table table-striped">
    <thead>
      <tr>
           
        <th>Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Earning Method</th>
       
        <th>Income Account</th>
        <th>Earning Branch</th>
        <th>Status</th>
        
    
              
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cha of productAssignedCharge; let i = index">
      
        <td>{{cha.code}} </td>
              <td>{{cha.description}}</td>
              <td>{{cha.category}}</td>
              <td>{{cha.chargeEarningMethod}}</td>
            
              <td style="text-align : right">{{cha.chargeIncomeAccount}}</td>
              <td>{{cha.chargeEarningBranch}}</td>
              <td><button (click)="dDialog(cha)">delete</button></td>  
              
                           
      </tr>
    </tbody>
    </table>
    <button (click) = "chargeOperation($event)"  class="btn btn-info  usl-btn-color" data-toggle="modal" data-target="#exampleModal">Add</button> -->
    <!-- <button (click) = "chargeOperation($event)"  class="btn btn-info  usl-btn-color">Modify</button>
    <button (click) = "chargeOperation($event)"  class="btn btn-info  usl-btn-color">Cancel</button>
    <button (click) = "chargeOperation($event)"  class="btn btn-info  usl-btn-color">View</button> -->
    <!-- <button (click) = "chargeOperation($event)"  class="btn btn-info usl-btn-color">Close</button>
    
    </div>

    <div class="col-md-12" *ngIf="!relatedTaskCharge">
        <div class="row white-box">
         <div class="col-md-12" >
            
     </div>
     </div>
     <div class="row">        
             <button (click) = "attachCharge.saveAssignedChargetoDB()"  class="btn btn-info  usl-btn-color">Assign</button>       
             <button (click) = "operationClose()"  class="btn btn-info usl-btn-color">Close</button>
            </div>
     </div> -->

     <div class="container-fluid mt-1">
        <div class="row py-3 px-4">
            <div class="col-md-12">
                <h1>Outward Bank Payment</h1>
            </div>
        </div>
        <div class="row py-2 px-4">
            <div class="col-md-12">
                <div class="card box-shad">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" style="border-right: 1px solid rgb(177, 177, 177);">
                                <div class="row p-4">
                                    <h2>Tasks</h2>
                                </div>
                                <ul class="list-group list-group-flush list-group-tradex" style="margin-right: -15px;
                                    margin-left: -15px;">
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/basic-information"
                                            routerLinkActive="active">Basic Information</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/charges"
                                            routerLinkActive="active">Charges</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/currency"
                                            routerLinkActive="active">Currency</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/outward-bank-payment/dashboard/configuration"
                                            routerLinkActive="active">Configuration</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/milestones"
                                            routerLinkActive="active">Milestones</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/control-account"
                                            routerLinkActive="active">Control Account</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a routerLink="/product/outward-bank-payment/dashboard/business-process"
                                            routerLinkActive="active">Business Process</a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="col-md-9 mt-5" *ngIf="relatedTaskCharge">
                                <div class="row p-3 pl-2">
                                    <div class="col-md-6">
                                        <h5 class="text-bold">Charges</h5>
                                        <p>set the appropriate information for the message</p>
                                    </div>
    
                                    <div class="col-md-3 offset-md-3 pr-0">
                                        <button class="btn btn-block btn-primary " (click)="Add()">&oplus; new charge</button>
                                    </div>
                                </div>
    
                                <div class="row p-2 pl-2 mt-5">
                                    <div class="col-md-12">
    
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="xc">
                                                    <div class="panel-body">
                                                        <table class="table alt-table table-borderless">
                                                            <thead>
                                                                <th>Code</th>
                                                                <th>Description</th>
                                                                <th>Category</th>
                                                                <th>Earning Method</th>                                                               
                                                                <th>Income Account</th>
                                                                <th>Earning Branch</th>
                                                                <th>Status</th>
                                                                <th></th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>
                                                                        <button
                                                                            class="btn btn-danger round-table-button">&mdash;</button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>wwwwww</td>
                                                                    <td>
                                                                        <button
                                                                            class="btn btn-danger round-table-button">&mdash;</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>




    
     
    <!-- Related Task Menu bar only displayed when relatedTaskSave == 1 -->
    
    <!-- <div class="col-md-2 white-box">  
                <app-related-task-bar></app-related-task-bar>   
      </div> -->
    
      <!-- Related Task Menu Ends -->
    

      <div class="modal related-task-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="container" role="document">
          <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="modal-dialog" role="document">
                <div class="modal-content p-2">
          <div class="modal-header related-task-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
        <div class="conrainer">
          <div class="row mb-2">
            <div class="col-md-12 text-center">
                <h5>Un-Assigned Charges</h5>
            </div>
          </div>
          <div class="row mb-2 mt-2 text-center">
            <div class="col-md-6 offset-md-3">
                <input type="text" placeholder="Search by Code Description" class="form-control">
            </div>
            
          </div>
          <div class="row mb-2 mt-4 p-2">
        
        <div class="col-md-10 offset-md-1 pt-2 pr-4 pl-4">
            <table class="table table-borderless related-task-modal-table">
                <thead>
                  <tr>                     
                    <th>Code</th>             
                    <th>Description</th>              
                    <th>Status</th>              
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let uc of productUnassignedCharge">
                    <td>{{uc.chargeCode}}</td>
                    <td>{{uc.description}}</td>
                    <td>
                      <label class="switch">
                          <input type="checkbox" (click)="toggleCheckBox($event, uc)">
                          <span class="slider round"></span>
                        </label>
                  </td>
                </tr>
                       
        
                    
                </tbody>
              </table>
          </div>
        </div>
        <div class="row mt-2">
            <div class="related-task-pagination">
                <nav>
                    <ul class="pagination pg-blue">
                            <li class="page-item disabled">
                            <a class="page-link" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link">1</a></li>
                            <li class="page-item active">
                            <a class="page-link">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item">
                            <a class="page-link">Next</a>
                            </li>
                    </ul>
                </nav>
            </div>
          </div>
          </div>
          </div>
          <div class="modal-footer related-task-modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveAssignedChargetoDB()">Save</button>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      </div>


  