/* You can add global styles to this file, and also import other style files */
/* -----------------------------------------------------------
TABLE OF CONTENTS:
--------------------------------------------------------------
1) General
2) Page Loader
3) Helper
4) Header
5) Typography
6) Hero
7) Sections
 7.a) portfolio
 7.b) service
 7.c) experience
 7.d) testimonial
 7.e) blog
 7.f) about
 7.g) contact
 7.h) footer
8) Components
 8.a) skills
*/
:root{
    --primary-color : #252A98;
    --hover-color : #141870;
}




/* Font configuration */
@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins/Poppins-Regular.eot");
    src: url("/assets/fonts/poppins/Poppins-Regular.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/poppins/Poppins-Regular.woff2") format('woff2'),
         url("/assets/fonts/poppins/Poppins-Regular.woff") format('woff'),
         url("/assets/fonts/poppins/Poppins-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins italic */

@font-face {
    font-family: "Poppins";
    src: url('/assets/fonts/poppins/Poppins-Italic.eot');
    src: url('/assets/fonts/poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/poppins/Poppins-Italic.woff2') format('woff2'),
         url('/assets/fonts/poppins/Poppins-Italic.woff') format('woff'),
         url('/assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Poppins bold */

@font-face {
    font-family: "Poppins";
    src: url('/assets/fonts/poppins/Poppins-Bold.eot');
    src: url('/assets/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
         url('/assets/fonts/poppins/Poppins-Bold.woff') format('woff'),
         url('/assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* end of font configuration */


/* Font configuration */
@font-face {
    font-family: "Nunito";
    src: url("/assets/fonts/nunito/Nunito-Regular.eot");
    src: url("/assets/fonts/nunito/Nunito-Regular.eot?#iefix") format('embedded-opentype'),
         url("/assets/fonts/nunito/Nunito-Regular.woff2") format('woff2'),
         url("/assets/fonts/nunito/Nunito-Regular.woff") format('woff'),
         url("/assets/fonts/nunito/Nunito-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* nunito italic */

@font-face {
    font-family: "Nunito";
    src: url('/assets/fonts/nunito/Nunito-Italic.eot');
    src: url('/assets/fonts/nunito/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nunito/Nunito-Italic.woff2') format('woff2'),
         url('/assets/fonts/nunito/Nunito-Italic.woff') format('woff'),
         url('/assets/fonts/nunito/Nunito-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* nunito bold */

@font-face {
    font-family: "Nunito";
    src: url('/assets/fonts/nunito/Nunito-Bold.eot');
    src: url('/assets/fonts/nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/nunito/Nunito-Bold.woff2') format('woff2'),
         url('/assets/fonts/nunito/Nunito-Bold.woff') format('woff'),
         url('/assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* end of font configuration */

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
ul, li, a, p, td{
    font-family: 'Nunito', sans-serif;
}
#router-container{
    padding-top: 55px;
}
td{
    font-size : 14px;
}
p{
    font-size: 14px;
}
/* >>>> new addition today */
.bg-tdx-primary{
    /* background: #2e3062; */
    background-color: #252A98; 
}
/* new addition ended */

body{
    background: #F9F9F9;
    margin:0;
}
.lead{
    font-size: 14px;
}
h1{
    font-size: 24px;
    color:#2E3062;
}

h2{
    font-size: 20px;
}
.btn-primary,
.btn-outline-primary:hover{
    background-color: #2043F5;
    border-color : #1f41ec;
}
.btn-outline-primary{
    border-color : #2043F5;
    color: #2043F5;
}

.nav-box-shad{
    box-shadow: 2px 2px 3px 0  rgba(0, 0, 0, 0.061);
    -webkit-box-shadow: 2px 2px 3px 0  rgba(0, 0, 0, 0.061);
    -moz-box-shadow: 2px 2px 3px 0  rgba(0, 0, 0,0.061);
}
.box-shad{
    box-shadow: 0 0 3px 2px  rgba(0, 0, 0, 0.061);
    -webkit-box-shadow: 0 0 3px 2px  rgba(0, 0, 0, 0.061);
    -moz-box-shadow: 0 0 3px 2px  rgba(0, 0, 0,0.061);
}
.list-group-tradex .list-group-item{
    padding : 0;
}
.list-group-tradex li a{
    text-decoration: none;
    color: rgb(161, 164, 171);
    display: block;
    font-size: 14px;
    padding: .75rem 1.25rem;
    
}
.list-group-tradex li{
    margin : 10px 0 10px 0;
    border : 0;
}
.list-group-tradex li > a:before{
    content: url("/assets/icons/group-icon.svg");
    margin-right :20px;
}
.list-group-tradex li > a:hover:before {
    content: url("/assets/icons/group-hover-icon-blue.svg");
}
.list-group-tradex li > a:hover,
.list-group-tradex li:hover

{
    /* background : rgb(32, 64, 245); */
    background : rgba(32, 67, 245, 0.07);
    /* color:#fff; */
    color : rgb(32, 64, 245);
    transition:0.3s ease;
     -webkit-transition:0.5s ease;
     -moz-transition:0.5s ease;
     -ms-transition:0.5s ease;
     -o-transition:0.5s ease;
}
.list-group-tradex li:hover a{
    color:rgb(32, 64, 245);
}
.list-group-tradex li > a.active {
    z-index: 2;
    /* background : rgb(32, 64, 245); */
    background : rgba(32, 67, 245, 0.07);
    /* color:#fff; */
    color : rgb(32, 64, 245);
    border:0;
}
.list-group-tradex li > a.active:before{
    color:rgb(32, 64, 245);
    content: url("/assets/icons/group-hover-icon-blue.svg");
}
.list-group-tradex li > a.active{
    color:rgb(32, 64, 245);
}


/* RE-STYLING BOOTSTRAPS FORM */
input[type=text] , input[type=number]{
  width : 100%;  
  height : 30px !important;
  border-radius: 0px;
  border : 1px solid #ced4da;
  font-size: 13px;
  line-height : 19.5px;
  color: black !important;
}
textarea, select {
  border-radius: 0px;
  border : 1px solid #ced4da !important;
  font-size: 13px;
  line-height : 19.5px;
  color: black !important;
}

input[type="date"].form-control{
  border-radius: 0px;
  border : 1px solid #ced4da !important;
  font-size: 13px;
  line-height : 19.5px;
  color: black !important;

}
input[type=search]{
  width : 50%;  
  height : 30px!important;
  border-radius: 0px;
  border : 1px solid #ced4da;
  font-size: 13px;
  line-height : 19.5px;
  color: black !important;
}
.form-control {
    border: 1px solid #ced4da;
    border-radius: 0;
    font-size : 13px;
  }
select.form-control {
    padding: .175rem .15rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 0;
    height: 30px !important;
}

  label{
      font-size: 13px;
      color: rgb(93, 93, 93)
  }
  .form-card{
      padding: 0;
  }
  .form-card .panel-heading{
    padding: 2rem 2rem 1rem 2rem;
  }
   /* New changes */
  /* .form-body{
      padding : 2rem 0;
  }


  .form-body .row .form-group{
    margin-bottom: .3rem; 
  } */
  .control-label{
        margin-bottom: 0;
  }
  /* end of new changes */

  .form-card .panel-heading{
      border-bottom : 1px solid #f4f4f4;
  }
  .card-body .panel-heading > h4{
    font-size: 1rem;
  }
  .card-body .panel-body{
      padding: 2rem 0;
      margin-bottom: 2rem;
  }
  .table tbody tr, .table th{
    background: #ffffff;
}
.table tbody tr:hover
{
    background:rgba(211, 238, 252, 0.11);
}

.table tbody tr:hover button{
    visibility: visible;
}
.table tbody tr button{
    visibility: hidden;
}
/* .table th{
    color: rgb(187, 187, 187);
}
  .table td, .table th {
    padding: 1.25rem 1rem 1.25rem 1rem;
    vertical-align: top;
    
}

.table td{
    color: rgb(93, 93, 93);
}


.table th:first-of-type:before,
.table tbody tr >td:first-of-type:before
{
    content: url("/assets/icons/white-circle.svg")
}

.table tbody tr:hover >td:first-of-type:before{
    content: url("/assets/icons/correct-circle.svg")
}
.table tbody tr:hover >td:first-of-type{
    max-width: 39px;
}
.table tbody tr:hover > td{
    height: 78px;
}
th{
    font-weight: normal;
} */
/* thead th, tbody tr{
    padding: 1rem;
} */
.btn-wide{
    padding-left: 4rem;
    padding-right: 4rem;
} 

.side-cover{
    height: 100vh;
    background: #2e3062;
}
.card{
    border: 0;
}
/* .panel-heading {
    border-bottom: 1px solid #f4f4f4;
} */
#sidebar{
    width: 16.666667%;
}
.sidebar-container{
    background: #2e3062;
    z-index: 520;
}


/* flat icon restyling */

.transform i.flaticon-home:before,
.transform i.flaticon-home:after,
.transform i.flaticon-wrong:before,
.transform  i.flaticon-wrong:before,
.transform  i.flaticon-wrong:after,
.transform  i.flaticon-wrong:after {
    margin-left: 0;
    font-size: 14px;
}

.transform i.flaticon-arrow-right:before,
.transform i.flaticon-arrow-right:after,
.transform i.flaticon-arrow-down:before,
.transform i.flaticon-arrow-down:after{
    font-size: 9px;
}



.empty-state-card{
    border : 0;
    min-height: 500px;
    width:100%
}

.navbar-container{
    height: 55px; 
    background-color: #ffffff;
    z-index: 519;
}

/* MADE CHANGES */
.table td{
    padding: 0.8rem 0.5rem;
    vertical-align: top;
    border-bottom: 1px solid #efefef;
    
    /* border-top: 1px solid #dee2e6; */
    
}

/* MADE CHANGE */
.table th{
    padding: 1.25rem 1rem 1.25rem 1rem;
    vertical-align: top;
}

/* MADE CHANGE */
thead tr{
    border-bottom: 1px solid #cccccc;
}


input.search{
    height: 38px!important;
    border-radius: .25rem;
    border-color: #2043f5;
}


.table th{
    color:#5d5d5d;
}

.panel {
   box-shadow:  1px 3px 7px 0 rgba(0,0,0,0.2);
}

.table tbody tr button{
    visibility: hidden;
    border: 1px solid;
    background: transparent;
    border-radius: 5px;
}

.text-bold{
    font-weight:800;
}

.hover-raise:hover{
    box-shadow:  1px 3px 7px 0 rgba(0,0,0,0.37);
    background-color: #2043F5;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2043F5;
    border-color: #2043F5;
}

.page-item.active .page-link:hover{
    color: white;
}

.secondary-color{
    color: #2e3062;
    
}

.primary-color{
    color: #2043f5;
}

.subtitle {
    color: rgb(93, 93, 93);
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.04em;
}

.form-icon{
    width: 45px;
    background: #eff1ff;
    height: 45px;
    border-radius: 50%;
    padding: 5px;    
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
    margin-left:0;
    font-size: 23px;
}
.card-footer {
    background: transparent !important;
}
/* new changes 30 may */
.related-task-modal {
    position: fixed;
    top: 55px;
    left: 16.666667%;
    width: 83.33333%;

}
.modal-dialog{
    max-width : none;
    
}
.modal-backdrop{
    z-index : 518;
}

table.related-task-modal-table th{
    padding: .75rem .5rem
}

.related-task-modal-header{

        padding: 0;
        border-bottom: 0;

}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* input:checked + .slider {
    background-color: #0db244;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0db244;
  } */
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 22px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .related-task-modal-table{
      font-size: 13px;
  }
  .related-task-modal-table thead{
    border-bottom: 2px solid #5d5d5d;
  }
  .related-task-modal-table td{
      border-bottom : 0;
      margin: 0;
      padding: 0.4rem;
  }
 
  .related-task-modal-table tbody tr {
    padding: 0;
    
    }

  .related-task-pagination{
      margin: 0 auto;
  }
  .related-task-modal-footer button{
    width: 100px;
  }


  /* New Changes --- Adding Instrument Search CSS */
  .instrument-search-list-container {
      padding: 2rem 5rem ;
  }
  .instrument-search-list-item{
        list-style: none;
  }
  .instrument-search-list-item-header{
        font-weight: bold;
        font-size: 14px;
        color: #2e3062;
        
  }
  .instrument-search-list-options{
      width: 93.719%;
  }
  .instrument-search-list-options i:before,
  .instrument-search-list-options i:after
  {
      font-size: 35px;
      font-weight: bold;
      color: #2043F5;

  }
  .instrument-search-list-item li{
    display: inline-block;
    padding: .02rem;
    font-size: 13px;
    
  }
  .instrument-search-list-item ul{
      padding-left: 0;
  }
  .instrument-search-list-item ul li a{
      color: #212529;
  }
  .instrument-search-list-item ul li:nth-child(1):after,
  .instrument-search-list-item ul li:nth-last-child(2):after,
  .instrument-search-list-item ul li:nth-child(3):after
  {
    content : '\007C';
    margin-left: .42rem;
    margin-right: .42rem; 
  }
  .instrument-search-list-item ul li:last-child:after{
    content : '';
    margin-left: .42rem;
    margin-right: .42rem;  
  }
  input[type=text].instrument-search-form-control {
    display: block;
    width: 100%;
    height: 40px !important;
    padding: 1rem 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    transition: border-color .15s 
  }
  input[type=text].instrument-search-form-control:focus{
      border: 2px solid #2043f5 !important;
      box-shadow: none !important;
      border-color: none !important;

  } 


