

<div class="container-fluid mt-1" *ngIf="view === 0">

  <div class="row py-3 px-4">

      <div class="col-md-12">
              <h1 class="text-bold">Report Group <span *ngIf="errorExists"style="cursor : pointer" class="flaticon-info text-danger ml-3" (click)="loadErrors()"></span></h1>
            </div>
      <div class="col-md-12">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Report Group</a></li>
              <li class="breadcrumb-item active" aria-current="page">Report Group table</li>
          </ol>
      </nav>
      </div>
  </div>
  <div class="row py-2 px-4">
      <div class="col-md-12">
          <div class="card panel mb-5">
              <div class="card-body p-4">
                          <div class="row p-4">
                                  <div class="col-md-12">
                                          <h6 class="panel-title  font-weight-bold mb-1">
                                            Report Group Table
                                              </h6>
                                              <!-- <p class="subtitle mb-0  ">Set the appropriate information</p> -->
                                  </div>

                          </div>
                          <div class="row px-4  mb-0">
                                  <div class="col-10"></div>
                                  <div class="col">
                                    <button class="btn btn-block btn-primary " (click)="configure()"><i class="flaticon-add mr-2"></i>New</button>
                                  </div>

                          </div>
                          <div class="row p-4">
                              <div class="col-md-12">
                                  <table id="myTable" class="table alt-table table-borderless">
                                      <thead>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Desciption</th>
                                        <th>Actions</th>
                                        <th></th>
                                      </thead>
                                      <tbody >
                                        <tr *ngFor="let group of modelCollection">
                                          <td>{{group.name}}</td>
                                          <td>{{group.code}}</td>
                                          <td>{{group.description}}</td>
                                          <td><a (click)="updateReport(group.id)"> <span><i class="flaticon-pencil"></i></span></a></td>
                                          <td><a class="btn btn-danger round-table-button" (click)="Delete(group.id)">-</a></td>
                                      </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>

              </div>
          </div>


      </div>

  </div>
</div>

  <!-- view for form new -->

  <div class="container-fluid mt-1" *ngIf="view === 1">
    <div class="row p-3 pl-4">
      <div class="col-md-12">
        <h1 class="text-bold">Report Group Form</h1>
      </div>
    </div>

    <div class="col-md">
      <div class="card panel">
        <div class="card-body form-card">
          <!-- <form> -->
            <div class="panel-group" role="tablist" aria-multiselectable="true">
              <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingBasic">
                  <div class="float-left form-icon text-center mr-3">
                    <span class="flaticon-paper  primary-color"></span>
                  </div>
                  <h4 class="panel-title font-weight-bold secondary-color mb-0" #basic>
                    Report Group Details
                  </h4>
                  <p class="subtitle mb-0  ">Please fill in the appropriate data </p>
                </div>
                <div id="collapseBasic" class="panel-collapse collapse show" role="tabpanel"
                  aria-labelledby="headingBasic">
                  <div class="panel-body">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                      <div class="form-body">


                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                                <label for="name" >Name</label>
                            </div>
                            <div class="col-md-8">
                               <input class="form-control" type="text" id="name" [(ngModel)]="model.code">
                            </div>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                                <label for="code" >Code</label>
                            </div>
                            <div class="col-md-8">
                               <input class="form-control" type="text" [(ngModel)]="model.code" id="code">
                            </div>
                          </div>
                        </div>
                        </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                                <label for="description">Description</label>
                            </div>
                            <div class="col-md-12">
                              <textarea class="form-control" type="text" id="description" [(ngModel)]="model.description"></textarea>
                            </div>

                          </div>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-muted">
                <div class="row p-3">
                  <div class="col-md-8"></div>
                  <div class="col-md-2 text-right"><button class="btn btn-outline-primary btn-block" (click)="Cancel()"
                      type="submit">Cancel</button>
                  </div>
                  <div class="col-md-2 text-right">
                    <button class="btn btn-primary btn-block" type="submit" (click)="processForm()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
